<html>
  <head>
    <title>Manifmaker staging</title>
  </head>
  <body bgcolor=white>

    <h2>Welcome to Manifmaker staging machine</h2>
    <h3>Here are the current version deployed</h3>
    <ul>
      {{range services}}
        {{if .Name | regexMatch "manifmaker_"}}
            <li>version <a href="{{.Name}}">{{.Name}}</a> or 
                <ul>
                {{range service .Name}} 
                    <li><a href="http://151.80.59.178:{{.Port}}">{{.Name}}</a></li>
                {{end}}
              </ul>
        {{end}}
    {{end}}
    </ul>
    <p>The doc can be found <a href="/doc">here</a></p>

    <p><a href="https://github.com/assomaker/manifmaker">Github</a>

    <p>building state of deploy branch : <img src="https://api.travis-ci.org/assomaker/manifmaker.svg?branch=deploy"></p>

  </body>
</html>