<template name="updateTaskForm">
    {{>UpdateTaskComponent}}
</template>

<template name="updateTaskComponent">

    <div class="update-resource-wrapper-form">

        {{reactiveConstructor}}

        {{# autoForm collection="Tasks" doc=this id="updateTaskForm" type="update" autosave=true}}

            <div class="row">
                <div class="col-md-12">
                    {{>EditNameComponent collection="Tasks" name=name _id=_id}}
                    {{#if isInRole RolesEnum.TASKDELETE}}
                        {{#quickRemoveButton class="btn btn-default delete-task-button" collection="Tasks" _id=this._id onSuccess=onDeleteSuccess beforeRemove=beforeRemove onError=onDeleteError}}Delete {{this.name}}{{/quickRemoveButton}}
                    {{/if}}
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading">General information</div>

                <div class="panel-body">
                    {{>TaskGeneralInformationComponent}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Equipments</div>

                <div class="panel-body">
                    {{>TaskEquipmentsComponent}}
                </div>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Time slots</div>

                <div class="panel-body timeslots" id="timeslots">
                    {{>TaskTimeSlotsComponent  parentInstance=self}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Validation</div>

                <div class="panel-body">
                    {{> ValidationComponent targetCollection="Tasks" targetCollectionWriteRole="TASKWRITE" targetItemId=_id validationTypeLabel="Equipment" validationTypeName="equipment" validationData=equipmentValidation validationRole="EQUIPMENTVALIDATION"}}
                    {{> ValidationComponent targetCollection="Tasks" targetCollectionWriteRole="TASKWRITE" targetItemId=_id validationTypeLabel="Time Slot" validationTypeName="time-slot" validationData=timeSlotValidation validationRole="ASSIGNMENTVALIDATION"}}
                </div>

            </div>


        {{/autoForm}}

    </div>

</template>
