.overall-wrapper {
  margin-top: 90px;
}

//for "normal" icons
.mdi {
  font-size: 20px;
}

.mdi-inline {
  font-size : 18px;
  font-weight : bold;
}
.mdi-big {
  font-size : 180%;
}
.no-padding{
  padding:0;
}
