
#left-menu {
  color: black; //clear Materialize

  &.side-nav {
    .home-link {
      font-size: 1.3em;
    }
    li {
      padding: 0; //clear Materialize

      .collapsible-header {
        padding: 0; //clear Materialize
      }
    }
  }
}