<template name="taskTimeSlots">

    {{reactiveConstructor}}

    <div class="col-md-12">
        {{>AssignmentTermSelectComponent}}
    </div>

    <div class="col-md-8">
        {{> EditTimeSlotCalendarComponent task=taskData parentInstance=self timeSlotTemplate="updateTimeSlotCalendar"}}
    </div>

    <div class="col-md-4">
        <div class="col-md-12 add-time-slot">
            <div class="row">
                {{#unless isTimeSlotsReadOnly}}
                    {{#if isTimeSlotUpdated.get}}
                        <label>Update time slot</label><i class="duplicate-button">copy</i><i class="material-icons delete-button">delete</i> | <i class="material-icons add-button">add</i>
                    {{/if}}

                    {{#if isTimeSlotCreated.get}}
                        <label>Create time slot</label><i class="material-icons done-button">done</i><i class="material-icons clear-button">clear_all</i>
                    {{/if}}

                    {{#unless isTimeSlotCreated.get}}
                        {{#unless isTimeSlotUpdated.get}}
                            <label>Select or create a time slot</label> <i class="material-icons add-button">add</i>
                        {{/unless}}
                    {{/unless}}
                {{else}}
                    <label>Select a time slot</label>
                {{/unless}}

            </div>
            {{#if isTimeSlotUpdated.get}}
                <div id="add-time-slot-form" class="row">
                    <div class="row">
                        From * {{>DateTimePickerComponent class="date-time-picker-update-time-slot" date=currentTimeSlot.start updateDateCallback=updateTimeSlotStartDate readOnly=isTimeSlotsReadOnly}}
                        to* {{>DateTimePickerComponent  class="date-time-picker-update-time-slot" date=currentTimeSlot.end updateDateCallback=updateTimeSlotEndDate readOnly=isTimeSlotsReadOnly}}
                    </div>
                    <div class="row error-holder">
                        {{updatetimeSlotDatesError}}
                    </div>
                    <div class="row people-need">
                        <label>People needs</label>

                        <div class="row">
                            {{#each currentTimeSlotPeopleNeededMerged}}

                                <div class="row">
                                    <div class="col-md-3">
                                        <span>{{count}}</span>
                                        {{#unless isTimeSlotsReadOnly}}
                                            <i class="mdi mdi-delete mdi-inline delete" data-peopleneededid="{{this._id}}"></i>
                                            <i class="mdi mdi-content-copy mdi-inline duplicate" data-peopleneededid="{{this._id}}"></i>
                                        {{/unless}}
                                    </div>
                                    <div class="col-md-9">
                                        {{#if userId}}
                                            {{> SingleNonMandatorySelectComponent withoutLabel=true title="Specific user need"
                                            optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                                            updateCollection="Tasks" updateItemId=taskData._id
                                            updateItemPath="userId"
                                            pathWithArray=pathWithArrayPeopleNeeded
                                            updateCallback=updatePeopleNeedCallback
                                            readOnly=isTimeSlotsReadOnly}}
                                        {{/if}}
                                        {{#if teamId}}
                                            {{> SingleNonMandatoryBulkSelectComponent withoutLabel=true title="Specific a team need"
                                            optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                                            updateCollection="Tasks" updateItemId=taskData._id
                                            updateItemPath="teamId"
                                            bulkPeopleNeededIds=bulkPeopleNeededIds
                                            updateCallback=updatePeopleNeedCallback
                                            readOnly=isTimeSlotsReadOnly}}
                                        {{/if}}
                                        {{#if skills}}
                                            {{> MultipleNonMandatoryBulkSelectComponent withoutLabel=true title="Specific some needed skills"
                                            optionCollection="Skills" optionValueName="label" optionCollectionIndex="SkillsIndex"
                                            updateCollection="Tasks" updateItemId=taskData._id
                                            updateItemPath="skills"
                                            bulkPeopleNeededIds=bulkPeopleNeededIds
                                            updateCallback=updatePeopleNeedCallback
                                            readOnly=isTimeSlotsReadOnly}}
                                        {{/if}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="row error-holder">
                            {{updatePeopleNeededError}}
                        </div>
                    </div>

                    <div class="row people-need-assigned">
                        <label>People needs already assigned</label>

                        <div class="row">
                            {{#each currentTimeSlotPeopleNeededMerged true}}

                                <div class="row">
                                    <div class="col-md-3">
                                        <span>{{count}}</span>
                                    </div>
                                    <div class="col-md-9">
                                        {{#if userId}}
                                            {{> SingleNonMandatorySelectComponent withoutLabel=true title="Specific user need"
                                            optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                                            updateCollection="Tasks" updateItemId=taskData._id
                                            updateItemPath="userId"
                                            pathWithArray=pathWithArrayPeopleNeeded
                                            readOnly=true}}
                                        {{/if}}
                                        {{#if teamId}}
                                            {{> SingleNonMandatoryBulkSelectComponent withoutLabel=true title="Specific a team need"
                                            optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                                            updateCollection="Tasks" updateItemId=taskData._id
                                            updateItemPath="teamId"
                                            bulkPeopleNeededIds=bulkPeopleNeededIds
                                            readOnly=true}}
                                        {{/if}}
                                        {{#if skills}}
                                            {{> MultipleNonMandatoryBulkSelectComponent withoutLabel=true title="Specific some needed skills"
                                            optionCollection="Skills" optionValueName="label" optionCollectionIndex="SkillsIndex"
                                            updateCollection="Tasks" updateItemId=taskData._id
                                            updateItemPath="skills"
                                            bulkPeopleNeededIds=bulkPeopleNeededIds
                                            readOnly=true}}
                                        {{/if}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="row error-holder">
                            {{updatePeopleNeededError}}
                        </div>
                    </div>

                </div>
            {{/if}}

            {{#if isTimeSlotCreated.get}}
                <div id="create-time-slot-form" class="row">
                    <div class="row">
                        From * {{>DateTimePickerComponent class="date-time-picker-update-time-slot" date=createTimeSlotDefaultStartDate.get updateDateCallback=updateTimeSlotStartDate}}
                        to* {{>DateTimePickerComponent  class="date-time-picker-update-time-slot" date=createTimeSlotDefaultEndDate.get updateDateCallback=updateTimeSlotEndDate}}
                    </div>
                    <div class="row error-holder">
                        {{updatetimeSlotDatesError}}
                    </div>
                </div>
            {{/if}}
        </div>

        {{#unless isTimeSlotsReadOnly}}
            {{#if isTimeSlotUpdated.get}}
                <div class="col-md-12 add-people-need">
                    <div class="row">
                        <label>Add a people need</label>{{#if displayAddPeopleNeedForm}}<i class="material-icons done-button">done</i><i class="material-icons clear-button">clear_all</i>{{else}}<i class="material-icons add-button">add</i>{{/if}}
                    </div>
                    {{#if displayAddPeopleNeedForm}}
                        <div id="add-people-need-form" class="row">
                            <div class="col-md-6">
                                {{> SingleNonMandatorySelectComponent selectLabel="Need a specific team" title="Select a needed team"
                                optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex" nothingSelectedLabel="No team"
                                updateCollection="TempCollection" updateItemId=tempPeopleNeedId updateItemPath="teamId"
                                nothingSelectedLabel="None yet" quickSelectLabel="assign to your team" quickSelectId=currentUserTeamId
                                }}
                            </div>
                            <div class="col-md-6">
                                {{> MultipleNonMandatorySelectComponent selectLabel="Need of set of skills" title="Select needed skills"
                                optionCollection="Skills" optionValueName="label" optionCollectionIndex="SkillsIndex" nothingSelectedLabel="No skills"
                                updateCollection="TempCollection" updateItemId=tempPeopleNeedId updateItemPath="skills"
                                }}
                            </div>
                            <div class="col-md-6">
                                {{> SingleNonMandatorySelectComponent title="Select a needed user" selectLabel="Need a specific user"
                                optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                                updateCollection="TempCollection" updateItemId=tempPeopleNeedId updateItemPath="userId"
                                nothingSelectedLabel="No one" quickSelectLabel="assign to yourself" quickSelectId=currentUserId
                                }}
                            </div>
                        </div>
                        <div class="row error-holder">
                            {{createPeopleNeededError}}
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        {{/unless}}
    </div>
</template>

<template name="updateTimeSlotCalendar">
    <div class="creneau {{state}}" data-timeslotdid="{{this._id}}" style="height: {{height}};">

        <div class="wrapper on-calendar">

            {{#each getPeopleNeededMerged _id}}
                <!--<div class="peopleNeed" style="height: {{../height}};">-->
                <!--<div class="">-->

                <div class="col-md-1 people-need">
                    {{#unless userId}}{{count}}{{/unless}}
                    {{#if userId }}
                        <div class="user">
                            <i class="mdi mdi-account mdi-inline"></i>
                        </div>{{/if}}
                    {{#if teamId}}
                        <div class="team">
                            <i class="mdi mdi-account-multiple mdi-inline"></i>
                        </div>{{/if}}
                        <!--{{#ifNotEmpty skills}}-->
                    <div>
                        {{#each skills}}
                            <div class="skill">
                                <i class="mdi mdi-android-studio mdi-inline"></i>
                            </div>
                        {{/each}}
                    </div>
                        <!--{{/ifNotEmpty}}-->
                </div>
                <!--</div>-->
            {{/each}}

                    <div class="col-md-1 people-need">
                        <div>{{getAlreadyAssignedPeopleNeedCount _id}}</div>
                        <div>people need already assigned</div>
                    </div>


        </div>
    </div>
</template>
