<template name="taskGeneralInformation">
    <div class="col-md-3">
        <div>
            <div>
                {{> SingleNonMandatorySelectComponent selectLabel="Linked Activity" title="Update linked activity"
                        optionCollection="Activities" optionValueName="name" optionCollectionIndex="ActivitiesIndex"
                        updateCollection="Tasks" updateItemId=this._id updateItemPath="activityId" readOnly=readOnly
                }}
            </div>
            {{#if activityId}}
                <div>
                    {{#if linkedActivity.start}}<div>from {{displayDateTime linkedActivity.start}}</div>{{else}}no start date{{/if}}
                    {{#if linkedActivity.end}}<div>to {{displayDateTime linkedActivity.end}}</div>{{else}}no start date{{/if}}
                </div>
            {{/if}}
        </div>

        <div>
            {{> SingleNonMandatorySelectComponent selectLabel="Group" title="Update task group"
            optionCollection="TaskGroups" optionValueName="name" optionCollectionIndex="TaskGroupsIndex"
            updateCollection="Tasks" updateItemId=this._id updateItemPath="groupId" readOnly=readOnly
            }}
        </div>

        <div>
            {{> SingleSelectComponent selectLabel="Team" title="Update team"
            optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
            updateCollection="Tasks" updateItemId=this._id updateItemPath="teamId" readOnly=readOnly
            }}
        </div>

        {{> DismissibleHelperComponent message="The user responsible for the task during its raising. He will get notified when task is updated or validated." uniqueId="user-responsible-update"}}

        <div>
            {{> SingleSelectComponent selectLabel="User responsible" title="Task responsible"
            optionCollection="Meteor.users" optionValueName="username" optionCollectionIndex="UsersIndex"
            updateCollection="Tasks" updateItemId=this._id updateItemPath="masterId" readOnly=readOnly
            }}
        </div>

        {{> DismissibleHelperComponent message="The user responsible for the task during the event. Its contact will be added to planning given to users." uniqueId="live-responsible-update"}}

        <div>
            <div>
                {{> SingleSelectComponent selectLabel="Live event responsible" title="Live event responsible"
                optionCollection="Meteor.users" optionValueName="username" optionCollectionIndex="UsersIndex"
                updateCollection="Tasks" updateItemId=this._id updateItemPath="liveEventMasterId" readOnly=readOnly
                }}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {{> DismissibleHelperComponent message="Be talktative and concise. This description should describe everything that has to be done" uniqueId="description-update"}}
        <div>
            {{> afQuickField name='description' rows=20}}
        </div>
    </div>
</template>
