<template name="assignmentTimeSlotCalendar">
    {{#if popOverIsOpen}}
        {{#if equals getActiveTimeSlotId _id}}
            <div class="popOver">
                <div class="popOver-header">
                    {{#if taskName}}
                        <span>Task : {{taskName}} - {{displayHoursMinute start}} to {{displayHoursMinute end}}</span>
                    {{/if}}
                    <i class="pull-right mdi mdi-inline mdi-close close-popover clickable"></i>
                </div>
                <div class="popOver-body">
                    {{> DismissibleHelperComponent message="Click on a people need according to which skills/teams you wan to assigned first." uniqueId="popover-peopleneed"}}
                    <div class="pull-left halfPopOver">
                        <h5>To be assigned :</h5>
                        {{#each peopleNeededNonAssigned}}
                            <div class="peopleNeed clickable" data-_id="{{_id}}">
                                {{#if userId }}
                                    <div class="user">{{userName}}</div>
                                {{/if}}
                                {{#if teamId}}
                                    <div class="team">{{teamName}}</div>
                                {{/if}}
                                <div>
                                    {{#each skills}}
                                        <div class="skill">{{labelSkills}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/each}}

                    </div>

                    <div class="halfPopOver pull-right">
                        <h5>Already Assigned :</h5>
                        {{> DismissibleHelperComponent message="Click on an already assigned user to remove its assignment (need one more step before actually removing)" uniqueId="popover-peopleneed-assigned"}}
                        {{#each peopleNeededAssigned}}
                            <div class="peopleNeed assigned clickable" data-_id="{{_id}}">
                                Assigned to {{displayAssignedUser}}
                                <i>
                                    {{#if userId }}
                                        <div class="user">{{userName}}</div>
                                    {{/if}}
                                    {{#if teamId}}
                                        <div class="team">{{teamName}}</div>
                                    {{/if}}
                                    <div>
                                        {{#each skills}}
                                            <div class="skill">{{labelSkills}}</div>
                                        {{/each}}
                                    </div>
                                </i>
                            </div>
                        {{/each}}
                    </div>

                </div>
            </div>
        {{/if}}
    {{/if}}
    <div class="creneau usedByTask {{state}} clickable" start="{{start}}" end="{{end}}"
         style="margin-top: {{marginTop}}px; height: {{height}}px; background : indianred"
         title="{{displayHoursMinute start}} to {{displayHoursMinute end}} ,  assigned at {{percentassigned}}%">

        {{#if isTaskToUser}}
            <div class="assignementProgress" style="width:{{percentAssigned}}%"></div>
        {{else}}
            <div class="calendar-wrapper on-calendar assignement-timeslot">
                {{#if taskName}}
                    <span>{{taskName}}</span>
                {{/if}}
            </div>
        {{/if}}

    </div>
</template>

