<template name="AssignmentUserList">
    <div class="row list-header">
        <div class="col-md-4 no-padding users-list-header">
            <h4>
                {{#if isUsersListDeveloped}}
                    <i class="mdi mdi-chevron-up clickable"></i>
                {{else}}
                    <i class="mdi mdi-chevron-down clickable"></i>
                {{/if}}
                Users List
            </h4>
        </div>
        <div class="input-group col-md-8">
            <input type="text" class="form-control" id="search_user_name" placeholder="Search user...">
            <span class="input-group-addon">
                <i class="mdi mdi-magnify mdi-inline"></i>
            </span>
        </div>
    </div>

    {{#if isUsersListDeveloped}}
        <div class="row list-body">
            <div class="col-md-5 no-padding">
                {{> SingleNonMandatorySelectComponent withoutLabel=true title="Select a team"
                        optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex" nothingSelectedLabel="Choose a team"
                        updateCallback=filterTeam optionQuery=optionQueryTeamsWithoutAlreadyAssigned displayUpdateResult=false
                }}
            </div>

            <div class="col-md-5 col-md-offset-2 no-padding">
                {{> MultipleNonMandatorySelectComponent withoutLabel=true title="Select a skill"
                        optionCollection="Skills" optionValueName="label" optionCollectionIndex="SkillsIndex" nothingSelectedLabel="Choose a skill"
                        updateCallback=filterSkill maxSelectedOptionDisplayed=1 maxSelectedOptionDisplayedLabel=" skills selected" displayUpdateResult=false
                }}
            </div>
        </div>

        <div class="row list-body">
            <div id="assignment-user-list-collapsible" class="panel-group">
                {{#each users}}
                    <div class="user panel panel-default" data-_id="{{_id}}">
                        <div class="panel-heading {{isUnassignment}}" data-toggle="collapse"
                             data-parent="#assignment-user-list-collapsible"
                             data-target="#{{_id}}">
                            <h4 class="panel-title">
                                <a class="href-assignment-user clickable">{{profile.firstName}} {{profile.familyName}}
                                    ({{username}})</a>
                            </h4>
                        </div>
                        <div id="{{_id}}" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div>
                                    {{#each userTeamsWithoutGlobalTeam}}
                                        <div>{{team}}</div>
                                    {{else}}
                                        <div>User don't have any teams</div>
                                    {{/each}}
                                </div>
                                <!--Availabilities :-->
                                <!--<ul>-->
                                    <!--{{#each availabilities}}-->
                                <!--<li>from {{displayHours start}} to {{displayHours end}}</li>-->
                                    <!--{{/each}}-->
                                <!--</ul>-->

                                <div>
                                    {{#each skills}}
                                        <div>{{skillLabel}}</div>
                                    {{/each}}
                                </div>
                                <!--Assignments :-->
                                <!--<ul>-->
                                    <!--{{#each assignments}}-->
                                <!--<li>{{taskName}} from {{displayHours start}} to {{displayHours end}}</li>-->
                                    <!--{{/each}}-->
                                <!--</ul>-->

                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>


        </div>
    {{/if}}
</template>