<template name="AssignmentHomeWrapper">
    {{>AssignmentHome}}
</template>

<template name="AssignmentHome">

    <div class="cancel-top-padding full-height">

        <div class="half-screen-scrollable">
            {{> AssignmentUserList args self}}
            <hr>
            {{> AssignmentTasksList args self}}
            <hr>
        </div>

        <div class="half-screen-scrollable">
            <div class="assignment-calendar">
                {{>  AssignmentTermSelectComponent}}
                {{> AssignmentCalendarComponent timeSlotTemplate="assignmentTimeSlotCalendar"}}
            </div>
        </div>

    </div>

</template>