<template name="baseCalendarComponent">
    <div class="calendar {{assignmentType}} {{class}}" id="calendar">
        <div id="titres" class="titres">
            {{#each days}}
                <div class="titre_date" date="date">{{displayCalendarTitleDate date}}</div>
            {{/each}}
        </div>

        <div class="jours" id="jours">
            <div class="hours" id="hours">
                {{#each hours}}
                    <div class="hour {{sideHoursHeight}}">{{date}}h</div>
                {{/each}}
            </div>
            {{#each days}}
                <div class="jour" day="{{date}}">
                    {{#each hours}}
                        <div class="heure" hours="{{hoursDate ../date}}">
                            {{#each quarter}}
                                <div class="quart_heure {{isSelected ../../date ../date}} {{quarterHeight}} {{#unless enableAction ../../date ../date}}no-action{{/unless}}"
                                     quarter="{{quarterDate ../../date ../date}}">
                                    {{#each timeSlot  ../../date ../date this}}
                                        {{>Template.dynamic template=../../../../timeSlotTemplate}}
                                    {{else}}
                                        {{#if enableAction ../../date ../date}}
                                            {{#if ../../../displayCharisma}}<div class="calendar-charisma" title="{{getCharisma ../../date ../date}} pts of charisma">{{getCharisma ../../date ../date}}</div>{{/if}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</template>