<template name="sideBar">
    <!-- Overlay for fixed sidebar -->
    <div class="sidebar-overlay"></div>

    <!-- Material sidebar -->
    <aside id="sidebar" class="sidebar sidebar-default {{#unless currentUser}}logging{{/unless}}" role="navigation">
        <!-- Sidebar header -->
        <div class="sidebar-header header-cover"
             style="background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
            <!-- Top bar -->
            <div class="top-bar">
                <!-- Sidebar toggle button -->
                <button type="button" class="sidebar-toggle btn btn-default navbar-btn" aria-label="Left Align">
                    <i class="mdi mdi-arrow-left sidebar-arrow"></i>
                </button>
            </div>

            {{#if currentUser}}
                <!-- Sidebar brand image -->
                <div class="sidebar-image hidden-when-reduced">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg">
                </div>
                <!-- Sidebar brand name -->
                <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown">
                    <span class=" hidden-when-reduced">{{currentUser.username}}</span>
                    <b class="caret"></b>
                </a>
            {{/if}}

        </div>

        {{#unless currentUser}}
            {{> atForm}}

        {{/unless}}

        {{#if currentUser}}

            <!-- Sidebar navigation -->
            <ul class="nav sidebar-nav">

                <li class="dropdown">
                    <ul id="settings-dropdown" class="dropdown-menu">
                        <li><a href="{{pathFor route='user.write' data=currentUserIdObject}}" tabindex="-1"><i class="sidebar-icon mdi mdi-account"></i> Profile</a></li>
                        <li><a href="/logout" tabindex="-1"><i class="sidebar-icon mdi mdi-logout"></i> Logout</a></li>
                    </ul>
                </li>
                <li id="sidebar-home" class="{{#if equals currentTab "Home"}}active{{/if}}"><a class="home-link" href="{{pathFor route='home'}}"><i class="sidebar-icon mdi mdi-home"></i> Home</a></li>
                {{#if isInRole RolesEnum.ACTIVITYREAD}}
                    <li class="dropdown">
                        <a id="sidebar-activity" class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="sidebar-icon mdi mdi-castle"></i> Activities
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{pathFor route='activity.list'}}"><i class="sidebar-icon mdi mdi-format-list-bulleted"></i> List</a></li>
                            {{#if isInRole RolesEnum.ACTIVITYWRITE}}
                                <li><a href="{{pathFor route='activity.create'}}"><i class="sidebar-icon mdi mdi-plus"></i> Create</a></li>
                            {{/if}}
                        </ul>
                    </li>
                {{/if}}
                {{#if isInRole RolesEnum.TASKREAD}}
                    <li class="dropdown {{#if equals currentTab "Tasks"}}active{{/if}}">
                        <a id="sidebar-task" class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="sidebar-icon mdi mdi-calendar-plus"></i> Tasks
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{pathFor route='task.list'}}"><i class="sidebar-icon mdi mdi-format-list-bulleted"></i> List</a></li>
                            <li><a href="{{pathFor route='task-group.list'}}"><i class="sidebar-icon mdi mdi-folder"></i>  Groups</a></li>
                            {{#if isInRole RolesEnum.TASKWRITE}}
                                <li><a href="{{pathFor route='task.create'}}"><i class="sidebar-icon mdi mdi-plus"></i> Create</a></li>
                            {{/if}}
                            <!--<li><a href="{{pathFor route='task.stats'}}"><i class="sidebar-icon mdi mdi-chart-line"></i>  Stats</a></li>-->
                        </ul>
                    </li>
                {{/if}}
                {{#if isInRole RolesEnum.USERREAD}}
                    <li class="{{#if equals currentTab "Users"}}active{{/if}}"><a id="sidebar-user" href="{{pathFor route='user.list'}}"><i class="sidebar-icon mdi mdi-account-multiple"></i> Users</a></li>
                {{/if}}
                {{#if isInRole RolesEnum.ASSIGNMENTTASKUSER}}
                    <li class="{{#if equals currentTab "Assignment"}}active{{/if}}"><a id="sidebar-assignment" href="{{pathFor route='assignment.calendar'}}"><i class="sidebar-icon mdi mdi-calendar-multiple-check"></i> Assignment</a></li>
                {{/if}}
                {{#if isInRole RolesEnum.CONFMAKER}}
                    <li class="{{#if equals currentTab "ConfMaker"}}active{{/if}}"><a id="sidebar-confmaker" href="{{pathFor route='conf-maker'}}"><i class="sidebar-icon mdi mdi-settings"></i> ConfMaker</a></li>
                {{/if}}
                <li class="application-version"><a href=""><i class="sidebar-icon mdi"></i> Version {{getVersion}}</a></li>

            </ul>
            <!-- Sidebar divider -->
            <!-- <div class="sidebar-divider"></div> -->

            <!-- Sidebar text -->
            <!--  <div class="sidebar-text">Text</div> -->

        {{/if}}
    </aside>
</template>