<head>
    <title>Manifmaker</title>
</head>

<body>
</body>



<template name="home">


    <div class="form-group">
        {{> MultipleSelectComponent title="Update user1 team" filterPlaceHolder="Ceci est le search place holder"
                optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                updateCollection="Users" updateItemId=user1Id updateItemPath="teams"}}

        {{> MultipleSelectComponent title="Update user2 skills" filterPlaceHolder="Ceci est le search place holder"
            optionCollection="Skills" optionValueName="label" optionCollectionIndex="SkillsIndex"
            updateCollection="Users" updateItemId=user2Id updateItemPath="skills"}}

    </div>




    <br>
    <br>
    <br>



    <h1>Welcome</h1><h3>at the demo of ManifMaker : a project for organizing huge events</h3>
    <a href="https://github.com/assomaker/manifmaker">https://github.com/assomaker/manifmaker</a>
    <p>Several accounts are available (expand left menu to log in)</p>
    <ul>
        <li>login : password</li>
        <li>admin : admin</li>
        <li>bureau : bureaubureau</li>
        <li>resplog : resplogresplog</li>
        <li>respsecu : respsecurespsecu</li>
        <li>humain : humainhumain</li>
        <li>soft : softsoft</li>
    </ul>
</template>
