<head>
    <title>Manifmaker</title>
</head>

<body>
</body>


<template name="home">
    <h1>Welcome</h1><h3>at the demo of ManifMaker : a project for building huge events</h3>
    <a href="https://github.com/assomaker/manifmaker">https://github.com/assomaker/manifmaker</a>
    <p>Several accounts are available (expand left menu to log in)</p>
    <ul>
        <li>login : password</li>
        <li>admin : admin</li>
        <li>hard: hardhard</li>
        <li>soft : softsoft</li>
    </ul>
</template>
