.overall-wrapper {
  margin-top: 90px;
}

//for "normal" icons
.mdi {
  font-size: 20px;
}

.mdi-inline {
  font-size : 18px;
  font-weight : bold;
}
.mdi-big {
  font-size : 180%;
}
.no-padding{
  padding:0;
}



/* popover stuff */
.popover {
  max-width: 100%;
  .custom-select-options {
    label {
      display: inline;
    }
  }
  .search-input{
    width: 100%;
  }
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.text-align-center {
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
