[data-required] label:after {content: ' *'}

.update-resource-wrapper-form{
  .delete-task-button, .delete-activity-button{
    float: right;
  }

  .equipment-wrapper{
    input{
      height: 2em;
    }
  }
}

.header-limited-to-text {
  float:left;
  clear:left;
}

.row-with-margin{
  margin-top : 40px;
}

.button-large{
  width : 100%;
  margin : 5px 0 5px 0;
}