[data-required] label:after {content: ' *'}

.update-resource-wrapper-form{
  .delete-task-button{
    float: right;
  }

  .equipment-wrapper{
    input{
      height: 2em;
    }
  }
}

.header-limited-to-text {
  float:left;
  clear:left;
}
