<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifmaker</title>
</head>

<body>
    {{> sAlert}}
</body>


<template name="home">

    <h1>Welcome</h1>

    <h3>at the demo of ManifMaker : a project for organizing huge events</h3>
    <a href="https://github.com/assomaker/manifmaker">https://github.com/assomaker/manifmaker</a>

    <br>
    <br>
    <p>Manage data test</p>
    <a href="/inject-data">Inject data (delete, init access right, populate)</a><br>
    <br>
    <br>

    <p>Several accounts are available (expand left menu to log in)</p>
    <ul>
        <li>login/password</li>
        <li>superadmin/superadmin</li>
        <li>bureau/bureau</li>
        <li>resplog/resplog</li>
        <li>respsecu/respsecu</li>
        <li>humain/humain</li>
        <li>soft/soft</li>
        <li>user1/user1</li>
        <li>user2/user2</li>
        <li>user3/user3</li>
    </ul>
</template>
