<template name="confMaker">

    <ul id="conf-maker-wrapper" class="collapsible" data-collapsible="accordion">
    {{#each confMakerReactiveTables}}

        <li>
            <div class="collapsible-header">{{REFERENCE_LABEL}}<a href="/{{REFERENCE_URL}}">Create a new {{REFERENCE_LABEL}}</a></div>
            <!--<div class="collapsible-header">{{REFERENCE_LABEL}}</div>-->
            <div class="collapsible-body">
                {{> reactiveTable settings=reactiveTableSettings}}
            </div>
        </li>
    {{/each}}
    </ul>

</template>