<template name="referenceList">
    {{#each document}}
        <li>
            {{> UI.dynamic template=../TEMPLATE_ROW}}
        <a href="/{{../REFERENCE_URL}}/{{_id}}">Update {{REFERENCE_LABEL}}</a>
        <a href="/{{../REFERENCE_URL}}/{{_id}}/delete">Delete {{REFERENCE_LABEL}}</a>
        </li>
    {{/each}}
    <a href="/{{REFERENCE_URL}}">Create a new {{REFERENCE_LABEL}}</a>
</template>


<template name="placeReferenceListRow">
    {{name}}
</template>


<template name="teamReferenceListRow">
    {{name}}
</template>


<template name="skillReferenceListRow">
    {{key}} - {{label}}
</template>


<template name="calendarDaysReferenceListRow">
    {{date}}
</template>