<template name="team-update">
    {{# autoForm collection="Teams" doc=document  id="updateTeamForm" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name='name'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="place-update">
    {{# autoForm collection="Places" doc=document  id="updatePlaceForm" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name='name'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="skill-update">
    {{# autoForm collection="Skills" doc=document  id="updateSkillForm" type="update"}}
        <fieldset>
            <legend>Update {{document.key}}</legend>
            {{> afQuickField name='key'}}
            {{> afQuickField name='label'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="assignment-term-update">
    {{# autoForm collection="AssignmentTerms" doc=document  id="updateAssignmentTerm" type="update"}}
        <fieldset>
            <legend>Update {{document.date}}</legend>
            {{> afQuickField name="start"}}
            {{> afQuickField name="end"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="group-role-update">
    {{# autoForm collection="GroupRoles" doc=document  id="updateGroupRole" type="update"}}
        <fieldset>
            <legend>Update {{document.date}}</legend>
            {{> afQuickField name="name"}}
            {{> afQuickField name="roles"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


