<template name="team-update">
    {{# autoForm collection=collection doc=document id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name='name'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="place-update">
    {{# autoForm collection=collection doc=document id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name='name'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="skill-update">
    {{# autoForm collection=collection doc=document  id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.key}}</legend>
            {{> afQuickField name='key'}}
            {{> afQuickField name='label'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="assignment-term-update">
    {{# autoForm collection=collection doc=document  id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.date}}</legend>
            {{> afQuickField name="start"}}
            {{> afQuickField name="end"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="group-role-update">
    {{# autoForm collection=collection doc=document id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.date}}</legend>
            {{> afQuickField name="name"}}
            {{> afQuickField name="roles"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="equipment-category-update">
    {{# autoForm collection=collection doc=document id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="equipment-update">
    {{# autoForm collection=collection doc=document id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="water-supply-update">
    {{# autoForm collection=collection doc=document id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="water-disposal-update">
    {{# autoForm collection=collection doc=document id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="power-supply-update">
    {{# autoForm collection=collection doc=document id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="equipment-storage-update">
    {{# autoForm collection=collection doc=document id="update" type="update"}}
        <fieldset>
            <legend>Update {{document.name}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

