<template name="selectComponent">

    {{fakeConstructorWithDataArguments}}

    <div class="col-md-3">
        <div class="custom-select-label-wrapper hasPopover" data-popover="true"
             data-toggle="popover" title="{{title}}"
             data-content='
                 <div class="row">
                    <input class="search-input" type="text" placeholder="{{filterPlaceHolder}}">
                </div>
                <div class="row">
                    <div class="custom-select-options">
                        <ul class="collection">
                            {{#each collectionItems}}
                                <li class="collection-item"><input id="{{_id}}" type="checkbox" {{isChecked}}/><label for="{{_id}}">{{optionValue}}</label></li>
                            {{/each}}
                        </ul>
                    </div>

                </div>
         '>
            <span class="custom-select-label" data-required><label class="custom-select-label" for="exampleInputPassword1">{{selectLabel}}</label></span> <span class="custom-select-icon glyphicon glyphicon-cog" aria-hidden="true"></span>
        </div>

        <div class="selected-options">
            <ul class="collection">
                {{#each collectionSelectedItems}}
                    <li class="collection-item">{{optionValue}}</li>
                {{/each}}
            </ul>
        </div>

    </div>

    {{cloneSearchResultInPopover}}

</template>


<template name="nonMandatorySelectComponent">

    {{fakeConstructorWithDataArguments}}

    <div class="col-md-3">
        <div class="custom-select-label-wrapper hasPopover" data-popover="true"
             data-toggle="popover" title="{{title}}"
             data-content='
                 <div class="row">
                    <input class="search-input" type="text" placeholder="{{filterPlaceHolder}}">
                </div>
                <div class="row">
                    <div class="custom-select-options">
                        <ul class="collection">
                            <li class="collection-item">
                               <div class="clear">{{clearMessage}}<i class="material-icons">delete</i></div>
                            </li>
                            {{#each collectionItems}}
                                <li class="collection-item"><input id="{{_id}}" type="checkbox" {{isChecked}}/><label for="{{_id}}">{{optionValue}}</label></li>
                            {{/each}}
                        </ul>
                    </div>

                </div>
         '>
            <span class="custom-select-label"><label class="custom-select-label" for="exampleInputPassword1">{{selectLabel}}</label></span> <span class="custom-select-icon glyphicon glyphicon-cog" aria-hidden="true"></span>
        </div>

        <div class="selected-options">
            <ul class="collection">
                {{#each collectionSelectedItems}}
                    <li class="collection-item">{{optionValue}}</li>
                {{/each}}
            </ul>
        </div>

    </div>

    {{cloneSearchResultInPopover}}

</template>


<template name="customSelectPopoverOption">
    <ul class="collection">
        {{#each collectionItemsPopover}}
            <li class="collection-item"><input id="{{_id}}" type="checkbox" {{isChecked}}/><label for="{{_id}}">{{optionValue}}</label></li>
        {{/each}}
    </ul>
</template>