<template name="simpleSelect">

    {{fakeConstructorWithDataArguments}}

    <div class="col-md-3">
        <div class="custom-select-label-wrapper hasPopover" data-popover="true"
             data-toggle="popover" title="{{title}}"
             data-content='
                 <div class="row">
                    <input id="last_name" type="text" placeholder="{{filterPlaceHolder}}">
                </div>
                <div class="row">
                    <div class="custom-select-options">
                        <ul class="collection">
                            {{#each collectionItems}}
                                <li class="collection-item"><input id="{{_id}}" type="checkbox" {{isChecked}}/><label for="{{_id}}">{{optionValue}}</label></li>
                            {{/each}}
                        </ul>
                    </div>

                </div>
         '>
            <label class="custom-select-label" for="exampleInputPassword1">SelectLabel <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></label>
        </div>

        <div class="selected-options">
            <ul class="collection">
                {{#each collectionSelectedItems}}
                     <li class="collection-item">{{optionValue}}</li>
                {{/each}}
            </ul>
        </div>

    </div>

</template>