<template name="simpleSelect">

    <div class="col-md-3">
        <div class="custom-select-label-wrapper hasPopover" data-popover="true"
             data-toggle="popover" title="SelectTitle"
             data-content='
                 <div class="row">
                    <input id="last_name" type="text" placeholder="FilterPlaceHolder">
                </div>
                <div class="row">
                    <div class="custom-select-options">
                        <ul class="collection">
                            <li class="collection-item"><input type="checkbox" id="test5" /><label for="test5">Red</label></li>
                            <li class="collection-item"><input type="checkbox" id="test5" /><label for="test5">RedRedRedRedRedRedRedRedRedRed</label></li>
                            <li class="collection-item"><input type="checkbox" id="test5" /><label for="test5">Red</label></li>
                            <li class="collection-item"><input type="checkbox" id="test5" /><label for="test5">Red</label></li>
                        </ul>
                    </div>

                </div>
         '>
            <label class="custom-select-label" for="exampleInputPassword1">SelectLabel <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></label>
        </div>

        <div class="selected-options">
            <ul class="collection">
                <li class="collection-item">Alvin</li>
            </ul>
        </div>

    </div>

</template>