<template name="confMaker">
    <div id="conf-maker-wrapper" class="panel-group">
        {{> DismissibleHelperComponent message="Conf Maker is the place to configure the whole app. All list item (like team, skills) can be managed here as well as some default settings" uniqueId="conf-maker-home"}}

        {{#each confMakerReactiveTables}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#conf-maker-wrapper"
                        data-target="#{{REFERENCE_URL}}">
                        {{REFERENCE_LABEL}}<a href="/{{REFERENCE_URL}}">Create a new {{REFERENCE_LABEL}}</a>
                    </h4>
                </div>
                <div id="{{REFERENCE_URL}}" listUrl="{{PLURAL_REFERENCE_URL}}"
                     class="panel-collapse collapse {{isExpanded PLURAL_REFERENCE_URL ../expanded}}">
                    <div class="panel-body">
                        {{> reactiveTable settings=reactiveTableSettings}}
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#conf-maker-wrapper"
                    data-target="#settings">
                    Settings
                </h4>
            </div>
            <div id="settings" listUrl='settings' class="panel-collapse collapse {{isExpanded 'settings' ../expanded}}">
                <div class="panel-body">
                    {{# autoForm collection="Settings" doc=settings id="updateSettingsForm" type="update"
                                 autosave=true}}
                        <div class="row">
                            <div class="col-md-4">
                                {{> DismissibleHelperComponent message="Newly registered user will be added to this team" uniqueId="createAccountDefaultTeam"}}
                                <div>
                                    {{> afQuickField name='createAccountDefaultTeam'}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{> DismissibleHelperComponent message="Newly registered user will be added to this group role" uniqueId="defaultGroupRoles"}}
                                <div>
                                    {{> afQuickField name='defaultGroupRoles'}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{> DismissibleHelperComponent message="Maps on Activity update form will be center on this position" uniqueId="defaultActivityMapsLatLng"}}
                                <div>
                                    {{> afQuickField name="defaultActivityMapsLatLng"}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                {{> DismissibleHelperComponent message="Activities start and end date date time picker will be start and end with these enclosing date" uniqueId="activitiesEnclosingDate"}}
                                <div>
                                    {{> afQuickField name="activitiesEnclosingDate"}}
                                </div>
                            </div>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
</template>