<template name="team-insert">
    {{# autoForm collection="Teams" id="insertTeamForm" type="insert"}}
        <fieldset>
            <legend>Add a Team</legend>
            {{> afQuickField placeHolder="This team doesn't have a name yet" name='name'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="place-insert">
    {{# autoForm collection="Places" id="insertPlaceForm" type="insert"}}
        <fieldset>
            <legend>Add a Place</legend>
            {{> afQuickField placeHolder="This place doesn't have a name yet" name='name'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="skill-insert">
    {{# autoForm collection="Skills" id="insertSkillForm" type="insert"}}
        <fieldset>
            <legend>Add a Skill</legend>
            {{> DismissibleHelperComponent message="Unique key in capital letter and without spaces or special char" uniqueId="skill-key"}}
            {{> afQuickField placeHolder="This skill doesn't have a key yet" name='key'}}
            {{> afQuickField placeHolder="This skill doesn't have a label yet" name='label'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="assignment-term-insert">
    {{> DismissibleHelperComponent message="An Assignment Term has a beginning and an end and can have periods inside these dates in order to be not contiguous." uniqueId="term-home"}}
    {{# autoForm collection="AssignmentTerms" id="insertAssignmentTerm" type="insert"}}
        <fieldset>
            <legend>Add a term</legend>
            {{> afQuickField name="name"}}
            {{> afQuickField name="start"}}
            {{> afQuickField name="end"}}
            {{> DismissibleHelperComponent message="Only users with one of these teams can add availabilities during this term" uniqueId="term-team"}}
            {{> afQuickField name="teams"}}
            {{> DismissibleHelperComponent message="After this deadline, only TIMESLOTVALIDATION users can update availabilities" uniqueId="term-dealine"}}
            {{> afQuickField name="addAvailabilitiesDeadline"}}
            {{> DismissibleHelperComponent message="Accuracy defines the minimun availaby and timeslot duration. You can choose from 2 hours (2), 1 hour (1), half an hour (0.5) or 15 minutes (0.25)" uniqueId="term-accuracy"}}
            {{> afQuickField name="calendarAccuracy"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


<template name="group-role-insert">
    {{> DismissibleHelperComponent message="Roles (not editable) can be put together to form a group role. To access ressources (like Tasks), a user need roles (like TASKREAD) which are given by group role (like 'hard')" uniqueId="group-role-home"}}
    {{> DismissibleHelperComponent message="A spécial role, nammed ROLE is needed to update group roles conf and updat group roles on user." uniqueId="group-role-role"}}
    {{# autoForm collection="GroupRoles" id="insertGroupRole" type="insert"}}
        <fieldset>
            <legend>Add a Group Role</legend>
            {{> afQuickField name="name"}}
            {{> afQuickField name="roles"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="equipment-category-insert">
    {{# autoForm collection=options.REFERENCE_COLLECTION_NAME id="insert" type="insert"}}
        <fieldset>
            <legend>Add a {{options.REFERENCE_LABEL}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


<template name="equipment-insert">
    {{# autoForm collection=options.REFERENCE_COLLECTION_NAME id="insert" type="insert"}}
        <fieldset>
            <legend>Add a {{options.REFERENCE_LABEL}}</legend>
            {{> afQuickField name="name"}}
            {{> afQuickField name="quantity"}}
            {{> afQuickField name="targetUsage"}}
            {{> afQuickField name="EquipmentCategories_Id"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


<template name="water-supply-insert">
    {{# autoForm collection=options.REFERENCE_COLLECTION_NAME id="insert" type="insert"}}
        <fieldset>
            <legend>Add a {{options.REFERENCE_LABEL}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


<template name="water-disposal-insert">
    {{# autoForm collection=options.REFERENCE_COLLECTION_NAME id="insert" type="insert"}}
        <fieldset>
            <legend>Add a {{options.REFERENCE_LABEL}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


<template name="power-supply-insert">
    {{# autoForm collection=options.REFERENCE_COLLECTION_NAME id="insert" type="insert"}}
        <fieldset>
            <legend>Add a {{options.REFERENCE_LABEL}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


<template name="equipment-storage-insert">
    {{# autoForm collection=options.REFERENCE_COLLECTION_NAME id="insert" type="insert"}}
        <fieldset>
            <legend>Add a {{options.REFERENCE_LABEL}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


<template name="access-point-insert">
    {{# autoForm collection=options.REFERENCE_COLLECTION_NAME id="insert" type="insert"}}
        <fieldset>
            <legend>Add a {{options.REFERENCE_LABEL}}</legend>
            {{> afQuickField name="name"}}
            {{> afQuickField name="selectedImage"}}
            {{> afQuickField name="notSelectedImage"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


<template name="web-category-insert">
    {{> DismissibleHelperComponent message="Activity Category for web export" uniqueId="webcategory-home"}}
    {{# autoForm collection=options.REFERENCE_COLLECTION_NAME id="insert" type="insert"}}
        <fieldset>
            <legend>Add a {{options.REFERENCE_LABEL}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>


<template name="android-category-insert">
    {{> DismissibleHelperComponent message="Activity Category for Android export" uniqueId="androidcategory-home"}}
    {{# autoForm collection=options.REFERENCE_COLLECTION_NAME id="insert" type="insert"}}
        <fieldset>
            <legend>Add a {{options.REFERENCE_LABEL}}</legend>
            {{> afQuickField name="name"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>