<template name="activityList">
    {{> ActivityListComponent}}
</template>


<template name="activityListComponent">
    {{validateForm}}

    {{> DismissibleHelperComponent message="From here you can filter, sort, create or update an activity. I don't have anything more to say than you can't already read..." uniqueId="activity-list"}}


    <div>
        {{#if isInRole RolesEnum.ACTIVITYWRITE}}
            <a class="btn btn-primary pull-right" href="/activity">{{_ "page.activity.list.create"}}</a>
        {{/if}}

        <h1>{{_ "page.activity.list.header"}}</h1>


    </div>

    <div class="resource-list-filter-wrapper">
        <div class="row">

            <div class="col-md-3">
                <label>
                    {{_ "page.activity.list.filter.activityName"}} :
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" id="search_activity_name" placeholder="{{_ "page.activity.list.filter.searchPlaceHolder"}}">
                    <span class="input-group-addon">
                        <i class="mdi mdi-magnify mdi-inline"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1">
                {{> SingleNonMandatorySelectComponent selectLabel="_ select.selectLabel.activityResponsible" title="_ select.selectLabel.activityResponsible"
                optionCollection="Meteor.users" optionValueName="username" optionCollectionIndex="UsersIndex"
                nothingSelectedLabel="_ select.nothingSelectedLabel.noOne" quickSelectLabel="_ select.quickSelectLabel.selectYourself" quickSelectId=currentUserId
                updateCallback=filterResponsible displayUpdateResult=false
                }}
            </div>

            <div class="col-md-3 col-md-offset-1">
                {{> SingleNonMandatorySelectComponent selectLabel="Team" title="Select a team"
                optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                updateCallback=filterTeam optionQuery=optionQueryTeamsWithoutAlreadyAssigned displayUpdateResult=false
                }}
            </div>

        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <button class="btn btn-primary pull-right" id="advanced-search-button"  data-toggle="collapse" data-target="#advanced-search">
                    {{#if isSearchAdvanced}}
                        Less <i class="mdi mdi-chevron-up mdi-inline"></i>
                    {{else}}
                        More <i class="mdi mdi-chevron-down mdi-inline"></i>
                    {{/if}}
                </button>
                <br><br>
            </div>
        </div>

        <div class="row collapse" id="advanced-search">

            {{#if isInRole RolesEnum.ACTIVITYWRITE}}
                <div class="col-md-3">
                    <!-- TODO rendre fonctionnel le custom picker -->
                    {{> SingleNonMandatorySelectComponent title="Select a validation and its validation status" selectLabel="Validation Status"
                    optionCollection=optionValidationStatus optionValueName="label"
                    updateCallback=filterValidationStatus displayUpdateResult=false
                    }}

                </div>
            {{/if}}
            <div class="col-md-3 col-md-offset-1">
                <label>
                    <input type="checkbox" id="checkbox-after-filter"> After :
                </label>
                {{>DateTimePickerComponent class="date-after-filter" readOnly=isAfterFilterReadOnly date="now" updateDateCallback=filterAfter}}
                <label>
                    <input type="checkbox" id="checkbox-before-filter"> Before :
                </label>
                {{>DateTimePickerComponent class="date-before-filter" readOnly=isBeforeFilterReadOnly date="now" updateDateCallback=filterBefore}}
            </div>

            {{#if isInRole RolesEnum.ASSIGNMENTACTIVITYUSER}}
                <div class="col-md-3 col-md-offset-1">
                    <!-- TODO V1.0 : rendre fonctionnel le custom picker sur l'affectation -->
                    <!--
                    <label>
                        Affectation priority
                    </label>
                    <br>
                    -->
                    <!--
                    <label>
                        Is critical
                    </label>
                    -->
                </div>
            {{/if}}
        </div>
    </div>
    {{> reactiveTable settings=activitiesList }}

</template>




<template name="activityButtons">
    {{#if isInRole RolesEnum.ACTIVITYWRITE}}
        <a class="btn btn-primary" href="/activity/{{_id}}" role="button" title="{{_ "action.edit"}}"> <i class="mdi mdi-pencil"></i></a>
    {{else}}
        {{#if isInRole RolesEnum.ACTIVITYREAD}}
            <a class="btn btn-primary" href="/activity/{{_id}}/read" title="{{_ "action.read"}}"> <i class="mdi mdi-chevron-right"></i></a>
        {{/if}}
    {{/if}}
    {{#if isInRole RolesEnum.ACTIVITYDELETE}}
        {{#quickRemoveButton class="btn btn-default" collection="Activities" _id=this._id onSuccess=onDeleteSuccess beforeRemove=beforeRemove onError=onDeleteError}}
            <span title="Delete">
                <i class="mdi mdi-delete"></i>
            </span>
        {{/quickRemoveButton}}
    {{/if}}
</template>




<template name="validationStateForActivityList">
    <span class="activity-list-filter-wrapper">
        {{> ValidationStateForListComponent dataValidation=generalInformationValidation validationTypeLabel="General Information" mdiIcon="mdi-information-outline"}}
        {{> ValidationStateForListComponent dataValidation=equipmentValidation validationTypeLabel="Equipments" mdiIcon="mdi-wrench"}}
        {{> ValidationStateForListComponent dataValidation=accessPassValidation validationTypeLabel="Access Pass" mdiIcon="mdi-alert"}}
    </span>
</template>