<template name="usersList">
    <div class="user-list-filter-wrapper input-field col s12">
        {{> commonTeamListDropdown id="user-list-team-selector"}}
    </div>

    {{> reactiveTable settings=usersList }}

    {{#if isInRole RolesEnum.USERWRITE}}
        <a href="/user">Create a new User</a>
    {{/if}}
</template>


<template name="userButtons">
    {{#if displayUpdateButtons}}
        <a class="btn btn-primary" href="/user/{{_id}}">Update</a>
    {{else}}
        {{#if isInRole RolesEnum.USERREAD}}
            <a class="btn btn-primary" href="/user/{{_id}}/read">Read</a>
        {{/if}}
    {{/if}}
    {{#if isInRole RolesEnum.USERDELETE}}
        {{#quickRemoveButton class="btn btn-default" collection="Users" _id=this._id}}Delete{{/quickRemoveButton}}
    {{/if}}
</template>




