<template name="insertUserForm">
    {{# autoForm collection="Users" id="insertUserForm" type="insert"}}
        <fieldset>
            <legend>Add a User</legend>
            {{> afQuickField name='name'}}
            {{> afQuickField name="teams"}}
            {{> afQuickField name="skills"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="updateUserForm">

    {{# autoForm collection="Users" doc=this id="updateUserForm" type="update"}}
        <fieldset>
            <legend>Update User {{this.name}}</legend>
            {{> afQuickField name='name'}}
            {{> afQuickField name="teams"}}
            {{> afQuickField name="skills"}}
            <!--{{#if isInRole 'role'}}-->
                {{> afQuickField name="roles"}}
            <!--{{/if}}-->
                <!--{{#if isInRole 'role'}}-->
            {{> afQuickField name="groupRoles"}}
                <!--{{/if}}-->
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
        {{#quickRemoveButton class="btn btn-default" collection="Tasks" _id=this._id}}Delete {{this.name}}{{/quickRemoveButton}}
    {{/autoForm}}
</template>