<template name="AssignmentHome">

    <div class="row">

        <div id="assignment-user-list" class="clo-xs-12 col-md-4 no-padding">
            {{> AssignmentUserList}}
        </div>

        <div class="clo-xs-12 col-md-4 no-padding">
            {{> AssignmentCalendarComponent timeSlotTemplate="assignmentTimeSlotCalendar"}}
        </div>

        <div id="assignment-task-list" class="clo-xs-12 col-md-4 no-padding">
            {{> assignmentTasksList}}
        </div>

    </div>

</template>