<template name="AssignmentNavBarWrapper">
    {{>AssignmentNavbar}}
</template>

<template name="AssignmentNavbar">
    <div>
        {{>  AssignmentTermSelectComponent}}
    </div>
    <div>
        <a id="userToTask" href="/assignment/userToTask"
           class="{{isSelected "userToTask"}} waves-purple waves-effect waves-light btn">User to Task mode</a>
        <a id="taskToUser" href="/assignment/taskToUser"
           class="{{isSelected "taskToUser"}} waves-purple waves-effect waves-light btn">Task to User mode</a>
    </div>

    <div>
        {{#each breadCrumbAssignment}}
            <a href="{{url}}">{{label}}</a>
        {{/each}}
    </div>

</template>