<template name="AssignmentHome">
    <div class="container">

        <div class="row">
            {{> assignmentMenu}}
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="clo-xs-12 col-sm-3">
                {{> assignmentUsersList}}
            </div>

            <div class="clo-xs-12 col-sm-6">
                {{> assignmentCalendar}}
            </div>

            <div class="clo-xs-12 col-sm-3">
                {{> assignmentTasksList}}
            </div>

        </div>
    </div>
</template>