
<template name="assignmentTasksList">
    <h5 class="list-title">Tasks List</h5>

    <form class="col s12">
        <div class="row">
            <div class="input-field">
                <input placeholder="" id="search_task_name" type="text" class="validate">
                <label for="search_task_name"><i class="material-icons tiny">search</i>Task name..</label>
            </div>
        </div>

        <div class="input-field col s12">
            <select id="filter_team_task" class="browser-default">
                <option id="filter_team_task_option_advice_all" value="" selected>Choose a responsible team</option>
                {{#each allOptionsTeams}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="input-field col s12">
            <select id="filter_needed_team_task" class="browser-default">
                <option id="filter_needed_team_task_option_advice_all" value="" selected>Choose a needed team</option>
                <option value="noNeededTeam">Without any needed team</option>
                {{#each allOptionsTeams}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="input-field col s12 reset-materialize-multiple-select">
            <select id="filter_skills_task" multiple="multiple" class="browser-default">
                <option value="noSkills">Without any skills</option>
                {{#each allOptionsSkills}}
                    <option value="{{_id}}">{{label}}</option>
                {{/each}}
            </select>
        </div>

    </form>

    <ul class="collapsible " data-collapsible="accordion">

        {{#each tasks}}
            <li class="task" data-_id="{{_id}}">
                <div class="collapsible-header">
                    <a class="href-assignment-task">{{name}}</a>
                </div>
                <div class="collapsible-body">
                    Timeslots :
                    <ul>
                        {{#each timeSlots}}
                            <li class="time-slot" data-_id="{{_id}}">from {{displayHours start}} to {{displayHours end}}
                                <ul>
                                    {{#each peopleNeeded}}
                                        <li class="peopleNeed">
                                            Skills :
                                            <ul>
                                                {{#each skills}}
                                                    <li>{{skillLabel}}</li>
                                                {{else}}
                                                    No specific skills
                                                {{/each}}
                                            </ul>
                                            {{#if teamId}}
                                                Team : {{team}}
                                            {{/if}}
                                            {{#if userId}}
                                                User : {{user}}
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                    Assignments :
                    <ul>
                        {{#each assignments}}
                            <li>{{userName}} from {{displayHours start}} to {{displayHours end}}</li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/each}}
    </ul>

</template>