<template name="assignmentCalendar">
    <div class="calendar {{assignmentType}}" id="calendar">

        <div id="titres" class="titres">
            {{#each days}}
                <div class="titre_date" date="date">{{displayCalendarTitleDate date}}</div>
            {{/each}}
        </div>

        <div class="jours" id="jours">
            <div class="hours" id="hours">
                {{#each hours}}
                    <div class="hour {{sideHoursHeight}}">{{date}}h</div>
                {{/each}}
            </div>
            {{#each days}}
                <div class="jour" day="{{date}}">
                    {{#each hours}}
                        <div class="heure {{isSelected ../date date}}" hours="{{hoursDate ../date}}">
                            {{#each quarter}}
                                <div class="quart_heure {{quarterHeight}}"
                                     quarter="{{quarterDate ../../date ../date}}">

                                    {{#each timeSlot  ../../date ../date this}}
                                        <div class="creneau usedByTask {{state}}"
                                             style="height: {{height}};">

                                                {{#if taskName}}
                                                    <span>Assigned to task {{taskName}}</span>
                                                {{/if}}


                                                {{#each peopleNeeded}}
                                                    <div class="peopleNeed" style="height: {{../height}};">
                                                        {{#if userId }}
                                                            <div class="user">{{userName}}</div>{{/if}}
                                                        {{#if teamId}}
                                                            <div class="team">{{teamName}}</div>{{/if}}
                                                            <!--{{#ifNotEmpty skills}}-->
                                                        <div>
                                                            {{#each skills}}
                                                                <div class="skill">{{labelSkills}}</div>
                                                            {{/each}}
                                                        </div>
                                                            <!--{{/ifNotEmpty}}-->
                                                    </div>
                                                {{/each}}
                                                {{#each peopleNeededAssigned}}
                                                    <div class="peopleNeed assigned" style="height: {{../height}};">
                                                        <span>Assigned to {{displayUser assignedUserId}}</span>
                                                        {{#if userId }}
                                                            <div class="user">{{userName}}</div>{{/if}}
                                                        {{#if teamId}}
                                                            <div class="team">{{teamName}}</div>{{/if}}
                                                            <!--{{#ifNotEmpty skills}}-->
                                                        <div>
                                                            {{#each skills}}
                                                                <div class="skill">{{labelSkills}}</div>
                                                            {{/each}}
                                                        </div>
                                                            <!--{{/ifNotEmpty}}-->
                                                    </div>
                                                {{/each}}

                                        </div>
                                    {{/each}}

                                </div>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</template>