<template name="AssignmentHomeWrapper">
    {{>AssignmentHome}}
</template>

<template name="AssignmentHome">

    <div class="row">

        <div id="assignment-user-list" class="clo-xs-12 col-md-4 no-padding">
            {{> AssignmentUserList args self}}
        </div>

        <div class="clo-xs-12 col-md-4 no-padding">
            {{>  AssignmentTermSelectComponent}}
            {{> AssignmentCalendarComponent timeSlotTemplate="assignmentTimeSlotCalendar"}}
        </div>

        <div id="assignment-task-list" class="clo-xs-12 col-md-4 no-padding">
            {{> AssignmentTasksList args self}}
        </div>

    </div>

</template>