<template name="AssignmentHomeWrapper">
    {{>AssignmentHome}}
</template>

<template name="AssignmentHome">

    <div class="row">

        <div class="clo-xs-12 col-md-6">
            {{> AssignmentUserList args self}}
            <hr>
            {{> AssignmentTasksList args self}}
            <hr>
        </div>

        <div class="clo-xs-12 col-md-6">
            {{>  AssignmentTermSelectComponent}}
            {{> AssignmentCalendarComponent timeSlotTemplate="assignmentTimeSlotCalendar"}}
        </div>

    </div>

</template>