<template name="assignmentTasksList">
    <h4 class="list-title">Tasks List</h4>

    <form class="col s12">
        <div class="row">
            <div class="input-field">
                <input placeholder="" id="search_task_name" type="text" class="validate">
                <label for="search_task_name"><i class="material-icons tiny">search</i>Task name..</label>
            </div>
        </div>

        <div class="input-field col s12">
            <select id="filter_team_task" class="browser-default">
                <option value="" selected>Choose a team</option>
                {{#each allTeams}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <!--<label>Teams</label>-->
        </div>
    </form>

    <ul class="collapsible " data-collapsible="accordion">

        {{#each tasks}}
            <li>
                <div class="collapsible-header">
                    <a class="href-assignment-task">{{name}}</a>
                </div>
                <div class="collapsible-body">
                    Timeslots :
                    <ul>
                        {{#each timeSlots}}
                            <li class="time-slot" data-_id="{{_id}}">from {{displayHours start}} to {{displayHours end}}
                                <ul>
                                    {{#each peopleNeeded}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                    Assignments :
                    <ul>
                        {{#each assignments}}
                            <li>{{userName}} from {{displayHours start}} to {{displayHours end}}</li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/each}}
    </ul>

</template>