<template name="AssignmentUserList">
    <h5 class="list-title">Users List</h5>

    <form class="col s12">
        <div class="row">
            <div class="input-field">
                <input placeholder="" id="search_user_name" type="text" class="validate">
                <label for="search_user_name"><i class="material-icons tiny">search</i>User name..</label>
            </div>
        </div>

        {{> commonTeamListDropdown}}

        <div class="input-field col s12 reset-materialize-multiple-select">
            <select id="filter_skills_user" multiple="multiple" class="browser-default">
                {{#each allOptionsSkills}}
                    <option value="{{_id}}">{{label}}</option>
                {{/each}}
            </select>
        </div>

    </form>


    <ul id="assignment-user-list-collapsible" class="collapsible " data-collapsible="accordion">
        {{#each users}}
            <li class="user" data-_id="{{_id}}">
                <div class="collapsible-header">
                    <a class="href-assignment-user">{{name}}</a>
                </div>

                    <div class="collapsible-body">
                        <div>
                            {{#each userTeamsWithoutGlobalTeam}}
                                <div class="chip">{{team}}</div>
                            {{else}}
                                <div class="chip">User don't have any teams</div>
                            {{/each}}
                        </div>
                        <!--Availabilities :-->
                        <!--<ul>-->
                            <!--{{#each availabilities}}-->
                        <!--<li>from {{displayHours start}} to {{displayHours end}}</li>-->
                            <!--{{/each}}-->
                        <!--</ul>-->

                        <div>
                            {{#each skills}}
                                <div class="chip">{{skillLabel}}</div>
                            {{/each}}
                        </div>
                        <!--Assignments :-->
                        <!--<ul>-->
                            <!--{{#each assignments}}-->
                        <!--<li>{{taskName}} from {{displayHours start}} to {{displayHours end}}</li>-->
                            <!--{{/each}}-->
                        <!--</ul>-->
                    </div>
            </li>
        {{/each}}
    </ul>
</template>