<template name="assignmentUsersList">
    <h2>Users List</h2>
    <!--<ul>-->
    {{#each users}}
        <div class="user" data-_id="{{_id}}">
            <a href="/assignment/user/{{_id}}">{{name}} </a>
                <div class="name">{{name}}</div>
                Availabilities :
                <ul>
                    {{#each availabilities}}
                        <li>from {{displayHours start}} to {{displayHours end}}</li>
                    {{/each}}
                </ul>
                Assignments :
                <ul>
                    {{#each assignments}}
                        <li>{{taskName}} from {{displayHours start}} to {{displayHours end}}</li>
                    {{/each}}
                </ul>

        </div>
    {{/each}}
    <!--</ul>-->
</template>