
<template name="assignmentTasksList">
    <h5 class="list-title">Tasks List</h5>

    <form class="col s12">
        <div class="row">
            <div class="input-field">
                <input placeholder="" id="search_task_name" type="text" class="validate">
                <label for="search_task_name"><i class="material-icons tiny">search</i>Task name..</label>
            </div>
        </div>

        {{> commonTeamListDropdown options=responsibleTeamOptions}}

        {{> commonTeamListDropdown options=neededTeamOptions}}


        <div class="input-field col s12 reset-materialize-multiple-select">
            <select id="filter_skills_task" multiple="multiple" class="browser-default">
                <option value="noSkills">Without any skills</option>
                {{#each allOptionsSkills}}
                    <option value="{{_id}}">{{label}}</option>
                {{/each}}
            </select>
        </div>

        <div class="input-field col s12 reset-materialize-multiple-select">
            <input type="checkbox"  id="display-assigned-task-checkbox" class="filled-in"/>
            <label  id="display-assigned-task-checkbox-label" for="display-assigned-task-checkbox">Also display fully assigned task</label>
        </div>


    </form>

    <ul  id="assignment-task-list-collapsible" class="collapsible " data-collapsible="accordion">

        {{#each tasks}}
            <li class="task" data-_id="{{_id}}">
                <div class="collapsible-header">
                    <a class="href-assignment-task">{{name}} {{timeSlotsInfo}}</a>
                </div>
                <div class="collapsible-body">
                    <!--Timeslots :-->
                    <ul>
                        {{#each timeSlots}}
                            <li class="time-slot" data-_id="{{_id}}">
                                <!--from {{displayHours start}} to {{displayHours end}}-->
                                <ul class="collection">
                                    {{#each peopleNeeded}}
                                        <li class="peopleNeed collection-item">
                                            <div>
                                                {{#each skills}}
                                                    <div class="chip">{{skillLabel}}</div>
                                                {{else}}
                                                    <div class="chip">No specific skills</div>
                                                {{/each}}
                                            </div>
                                            {{#if teamId}}
                                                <div class="chip">{{team}}</div>
                                            {{/if}}
                                            {{#if userId}}
                                                <div class="chip">{{user}}</div>
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                    <!--Assignments :-->
                    <!--<ul>-->
                        <!--{{#each assignments}}-->
                            <!--<li>{{userName}} from {{displayHours start}} to {{displayHours end}}</li>-->
                        <!--{{/each}}-->
                    <!--</ul>-->
                </div>
            </li>
        {{/each}}
    </ul>

</template>