<template name="assignmentMenu">
    <div class="half-top-row">
            <div class="select-assignment-terms-top-bar">
                {{>  AssignmentTermSelectComponent}}
            </div>
            <div class="action-button-top-bar">
                <a id="userToTask" href="/assignment/userToTask" class="{{isSelected "userToTask"}} waves-purple waves-effect waves-light btn">User to Task mode</a>
                <a id="taskToUser" href="/assignment/taskToUser" class="{{isSelected "taskToUser"}} waves-purple waves-effect waves-light btn">Task to User mode</a>
            </div>
    </div>

    <div class="half-top-row">
        <div class="breadcrumb-top-bar">
            {{#each breadCrumbAssignment}}
                <a href="{{url}}" class="breadcrumb">{{label}}</a>
            {{/each}}
        </div>
    </div>

</template>