<template name="insertTaskForm">
    {{>CreateTaskComponent}}
</template>

<template name="createTaskComponent">

    <div class="panel panel-info">
        <div class="panel-heading">General information</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">

                    <div>
                        <label for="first_name" data-required>Task name</label>
                        <input placeholder="Task name" data-key="name" type="text" class="validate">
                    </div>

                    <div>
                        {{> SingleSelectComponent selectLabel="Team" title="Update team"
                        optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                        updateCollection="TempCollection" updateItemId=tempItemId updateItemPath="teamId"
                        nothingSelectedLabel="None yet" quickSelectLabel="assign to your team" quickSelectId=currentUserTeamId
                        }}
                    </div>


                    <div>
                        {{> SingleSelectComponent selectLabel="User responsible" title="Task responsible"
                        optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                        updateCollection="TempCollection" updateItemId=tempItemId updateItemPath="masterId"
                        nothingSelectedLabel="No one" quickSelectLabel="assign to yourself" quickSelectId=currentUserId
                        }}
                    </div>

                    <div>
                        <div>
                            {{> SingleSelectComponent selectLabel="Live event responsible" title="Live event responsible"
                            optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                            updateCollection="TempCollection" updateItemId=tempItemId updateItemPath="liveEventMasterId"
                            nothingSelectedLabel="No one" quickSelectLabel="assign to yourself" quickSelectId=currentUserId
                            }}
                        </div>
                    </div>

                    <div>
                        <div>
                            {{> SingleSelectComponent selectLabel="Rendez-vous point" title="Rendez-vous point"
                            optionCollection="Places" optionValueName="name" optionCollectionIndex="PlacesIndex"
                            updateCollection="TempCollection" updateItemId=tempItemId updateItemPath="placeId"
                            }}
                        </div>
                    </div>


                </div>
                <div class="col-md-9">
                    <div>
                        <label>Description</label>
                        <textarea name="description" rows="15" data-key="description" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            {{#if errors}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <div><strong>Some errors remains in the form</strong></div>
                            {{#each errors}}
                                <div>{{message}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

    </div>

    <div class="col-md-2 col-md-offset-5">
        <button type="submit" class="btn btn-primary">Insert</button>
    </div>
</template>