<template name="tasksList">
    <div class="input-field col s12">
        <select id="team_filter" class="browser-defaults">
            <option value="" disabled selected>Choose your option</option>
            {{#each allOptionsTeams}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
        <label>Team Filter</label>

    </div>

    {{> reactiveTable settings=tableSettings }}

    <a href="/task">Create a new Task</a>
</template>


<template name="taskButtons">
    <a class="btn btn-primary" href="/task/{{_id}}">Update</a>
    {{#quickRemoveButton class="btn btn-default" collection="Tasks" _id=this._id}}Delete{{/quickRemoveButton}}
</template>