<template name="tasksList">
    <!--<h1>Here is the tasks list</h1>-->
<body>
    <div class="input-field col s12">
        <select id="team_filter" name="selectTeamFilter" >
            <option value="" disabled selected>Choose your option</option>
            {{#each teams}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
        <label>Filtre d'équipe</label>
    </div>

    {{> reactiveTable settings=tasksList }}
    {{> reactiveTableFilter }}

    <a href="/task">Créer une nouvelle fiche tache</a>

</body>
</template>