<template name="taskType">
    <form>
        <strong>Type de tache:</strong><br>
        <input type="radio" name="servorTaskType" value="servor" checked> Serveur en soirée
        <br>
        <input type="radio" name="tirorTaskType" value="tiror" checked> Tireur en soirée
        <br>
        <input type="radio" name="garbageTaskType" value="garbage" checked> Poubelle
        <br>
        <input type="radio" name="securityTaskType" value="security" checked> Point Sécu
        <br>
        <input type="radio" name="sportActivityTaskType" value="sportActivity" checked> Anim Sport
        <br>
        <input type="radio" name="kidActivityTaskType" value="kidActivity" checked> Anim Enfant
        <br>
        <input type="radio" name="barDayTaskType" value="barDay" checked> Bar en journée
        <br>
        <input type="radio" name="raceDayTaskType" value="raceDay" checked> Courses en journée
        <br>
        <input type="radio" name="raceNightTaskType" value="raceNight" checked> Courses en soirée
        <br>
        <input type="radio" name="DDNightTaskType" value="DDNight" checked> Anim DD en soirée
        <br>
    </form>
</template>