<template name="teams">
    <select class="informations" name="Teams" >
        <option value="predefinedTeam" selected>Quelle équipe?</option>
        <option value="CommunicationTeam" >Communication</option>
        <option value="PleasureTeam" >Animations familiales</option>
        <option value="SportTeam" >Animations sportives</option>
        <option value="CultureTeam" >Animations culturelles</option>
        <option value="DDTeam" >Développement durable</option>
        <option value="SponsoTeam" >Partenariats entreprises</option>
        <option value="ConcertTeam" >Concerts</option>
        <option value="RaceTeam" >Courses</option>
        <option value="SoftTeam" >Soft</option>
        <option value="ConfianceTeam" >Confiance</option>
        <option value="HardTeam" >Hard</option>
        <option value="BarTeam" >Bars</option>
        <option value="BouffeTeam" >Bouffe</option>
        <option value="BATeam" >BA</option>
        <option value="BarrierTeam" >Barrières</option>
        <option value="BOTeam" >BO</option>
        <option value="LogTeam" >Log</option>
        <option value="HumanTeam" >Humain</option>
        <option value="SignaTeam" >Signalétique</option>
        <option value="DecoTeam" >Décoration</option>
        <option value="SecurityTeam" >Sécurité</option>
        <option value="StageTeam" >Scènes</option>
        <option value="OldTeam" >Vieux</option>
        <option value="TimmyTeam" >Timmy</option>




        <!-- Créer un autre template avec toutes le équipes, et appeler le template plutôt que de créer ça ici -->
    </select>

</template>