<template name="teams">
    <select class="informations" name="team" >
        <!--TODO foreach sur la liste des teams-->
        <option value="predefinedTeam" selected>Quelle équipe?</option>
        <option value="communicationTeam" >Communication</option>
        <option value="pleasureTeam" >Animations familiales</option>
        <option value="sportTeam" >Animations sportives</option>
        <option value="cultureTeam" >Animations culturelles</option>
        <option value="DDTeam" >Développement durable</option>
        <option value="sponsoTeam" >Partenariats entreprises</option>
        <option value="concertTeam" >Concerts</option>
        <option value="raceTeam" >Courses</option>
        <option value="softTeam" >Soft</option>
        <option value="confianceTeam" >Confiance</option>
        <option value="hardTeam" >Hard</option>
        <option value="barTeam" >Bars</option>
        <option value="bouffeTeam" >Bouffe</option>
        <option value="BATeam" >BA</option>
        <option value="barrierTeam" >Barrières</option>
        <option value="BOTeam" >BO</option>
        <option value="logTeam" >Log</option>
        <option value="humanTeam" >Humain</option>
        <option value="signaTeam" >Signalétique</option>
        <option value="decoTeam" >Décoration</option>
        <option value="securityTeam" >Sécurité</option>
        <option value="stageTeam" >Scènes</option>
        <option value="oldTeam" >Vieux</option>
        <option value="timmyTeam" >Timmy</option>




        <!-- Créer un autre template avec toutes le équipes, et appeler le template plutôt que de créer ça ici -->
    </select>

</template>