<template name="vehicles">
<div class="row tools">
    <select class="col-md-3" name="vehicleNeed">
        <option value="predefinedVehicle" selected>Besoin d'engin motorisé ou non?</option>
        <option value="fen">Fen</option>
        <option value="car">Voiture</option>
        <option value="truck">20m3</option>
        <option value="miniTruck">12m3</option>
        <option value="bike">Vélo</option>

    </select>

    <form class="col-md-2">
        Combien?
        <input type="text" name="vehicleNeedQuantity" class="quantity">
    </form>
    <button type="button" class="button-plus col-md-1" name="buttonPlusVehicle">+</button>
</div>

</template>