<template name="insertTaskForm">
    {{# autoForm collection="Tasks" id="insertTaskForm" type="insert"}}
        <fieldset>
            <legend>Add a Task</legend>
            {{> afQuickField name='name'}}
            {{> afQuickField name='description'}}
            {{> afQuickField name="teamId"}}
            {{> afQuickField name="placeId"}}
            {{> afQuickField name="liveEventMasterId"}}
            {{> afQuickField name="masterId"}}
            <!--{{> afQuickField name="timeSlots"}}-->
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        <button type="reset" class="btn btn-default">Reset</button>
    {{/autoForm}}
</template>

<template name="updateTaskForm">
    {{# autoForm collection="Tasks" doc=this id="updateTaskForm" type="update"}}
        <fieldset>
            <legend>Add a Task</legend>
            {{> afQuickField name='name'}}
            {{> afQuickField name='description'}}
            {{> afQuickField name="teamId"}}
            {{> afQuickField name="placeId"}}
            {{> afQuickField name="liveEventMasterId"}}
            {{> afQuickField name="masterId"}}
            {{> afQuickField name="timeSlots"}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
        {{#quickRemoveButton class="btn btn-default" collection="Tasks" _id=this._id}}Delete {{this.name}}{{/quickRemoveButton}}
    {{/autoForm}}
</template>