<template name="cableties">
    <div class="row tools">
        <select class="col-md-3" name="cabletiesNeed">
            <option value="predefinedCableties" selected>Besoin de quoi attacher ton bordel?</option>
            <option value="colson">Colson</option>
            <option value="gafferTape">Gaffer</option>
            <option value="tape">Scotch marron</option>
            <option value="elecTape">Scotch elec</option>
            <option value="ironWire">Fil de fer</option>
            <option value="string">String</option>
            <!-- Créer un autre template avec toutes les attaches, et appeler le template plutôt que de créer ça ici -->
        </select>

        <form class="col-md-3">
            En quelle quantité mon brave?
            <input type="text" name="cabletiesNeedQuantity" class="quantity">
        </form>
        <button class="col-md-1 button-plus" type="button" name="buttonPlusCableties" >+</button>

    </div>

</template>