<template name="taskType">
    <form>
        <strong>Type de tache:</strong><br>
        <label><input type="radio" name="servorTaskType" value="servor" > Serveur en soirée</label>
        <br>
        <label><input type="radio" name="tirorTaskType" value="tiror" > Tireur en soirée</label>
        <br>
        <label><input type="radio" name="garbageTaskType" value="garbage" > Poubelle</label>
        <br>
        <label><input type="radio" name="securityTaskType" value="security" > Point Sécu</label>
        <br>
        <label><input type="radio" name="sportActivityTaskType" value="sportActivity" > Anim Sport</label>
        <br>
        <label><input type="radio" name="kidActivityTaskType" value="kidActivity" > Anim Enfant</label>
        <br>
        <label><input type="radio" name="barDayTaskType" value="barDay" > Bar en journée</label>
        <br>
        <label><input type="radio" name="raceDayTaskType" value="raceDay" > Courses en journée</label>
        <br>
        <label><input type="radio" name="raceNightTaskType" value="raceNight" > Courses en soirée</label>
        <br>
        <label><input type="radio" name="DDNightTaskType" value="DDNight" > Anim DD en soirée</label>
        <br>
    </form>
</template>