<template name="taskType">
    <form>
        <strong>Type de tache:</strong><br>
        <input type="radio" name="TaskType" value="Servor" checked> Serveur en soirée
        <br>
        <input type="radio" name="TaskType" value="Tiror" checked> Tireur en soirée
        <br>
        <input type="radio" name="TaskType" value="Garbage" checked> Poubelle
        <br>
        <input type="radio" name="TaskType" value="Security" checked> Point Sécu
        <br>
        <input type="radio" name="TaskType" value="SportActivity" checked> Anim Sport
        <br>
        <input type="radio" name="TaskType" value="KidActivity" checked> Anim Enfant
        <br>
        <input type="radio" name="TaskType" value="BarDay" checked> Bar en journée
        <br>
        <input type="radio" name="TaskType" value="RaceDay" checked> Courses en journée
        <br>
        <input type="radio" name="TaskType" value="RaceNight" checked> Courses en soirée
        <br>
        <input type="radio" name="TaskType" value="DDNight" checked> Anim DD en soirée
        <br>
    </form>
</template>