<template name="tools">

    <form class="tools">
        <input type="checkbox" name="MegaphoneNeed" value="Megaphone" > Megaphone
        <br>
    </form>
    <form class="row tools" >
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="CleaningKitNeed" value="CleaningKit"> Kit Ménage
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" titre="CleaningKitNeedQuantity" class="quantity">

        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="CutterNeed" value="Cutter"> Cutter
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" titre="CutterNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="CisorsNeed" value="Cisors"> Ciseaux
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" titre="CisorsNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="CuttingPliersNeed" value="CuttingPliers"> Pince coupante
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" titre="CuttingPliersNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="HammersNeed" value="Hammers"> Marteaux
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" titre="HammersNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="CercleuseNeed" value="Cercleuse"> Cercleuse
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" titre="CercleuseNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="StaplersNeed" value="Staplers"> Agrafeuse
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" titre="StaplersNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-4">
            Autre outil super cool:
            <input type="text" titre="Others">
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" titre="OthersQuantity"  class="quantity">
        </div>
    </form>

</template>