<template name="task">

<head>
    <title>Fiche Tache</title>
</head>

<body>
    <section class="top-section">

        <div class="container-fluid" >
            <form >
                <h3>Nom de la tache</h3>
                <input type="text" name="taskName" class="task-name" autofocus>
            </form>

            <div class="row">


                <div class="clo-xs-12 col-md-4 ">
                    {{>teams}}
                    {{>respManif}}
                </div>

                <div class="clo-xs-12 col-md-4">
                    <form class="informations">
                        Où ça?
                        <input type="text" name="place">
                    </form>
                </div>

                <div class="clo-xs-12 col-md-4">
                    <form class="informations">
                        Groupe de tache:
                        <input type="text" name="taskGroup" >
                    </form>


                </div>
            </div>

            <div class="container-fluid">
                <div class="clo-xs-12 col-md-6">
                {{>taskType}}
                </div>
                <div class="clo-xs-12 col-md-6">
                    <form>
                        Happiness level:
                        <input type="text" name="tappinessLevel">
                    </form>

                </div>

            </div>
        </div>
    </section>

    <section class="description">
        <div class="clo-xs-12 col-md-12 ">
            <form>
                <strong>Description:</strong><br>
                <input class="text-description" type="textarea" name="description"> <!-- j'ai un problème ici, je
                n'arrive pas à obtenir un grand bloc de texte. J'ai essayé un textarea et u text mais aucun des deux
                 ne me satisfait-->
            </form>
        </div>
    </section>


</body>

<footer >
    <div class="clo-xs-12 col-md-12 bottom-button" >
        <button class="button-validate" type="button" name="buttonValidate">Envoyer la fiche tache en validation</button>
        <button class="button-save" type="button" name="buttonSave">Sauvegarder la fiche tache</button>
        <button class="button-supress" type="button" name="buttonSupress">Supprimer la fiche tache</button>

    </div>
</footer>



</template>