<template name="tools">

    <form class="tools">
        <input type="checkbox" name="megaphoneNeed" value="megaphone" > Megaphone
        <br>
    </form>
    <form class="row tools" >
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="cleaningKitNeed" value="cleaningKit"> Kit Ménage
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" name="cleaningKitNeedQuantity" class="quantity">

        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="cutterNeed" value="cutter"> Cutter
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" name="cutterNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="cisorsNeed" value="cisors"> Ciseaux
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" name="cisorsNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="cuttingPliersNeed" value="cuttingPliers"> Pince coupante
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" name="cuttingPliersNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="hammersNeed" value="hammers"> Marteaux
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" name="hammersNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="cercleuseNeed" value="cercleuse"> Cercleuse
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" name="cercleuseNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-2">
            <input type="checkbox" name="staplersNeed" value="staplers"> Agrafeuse
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" name="staplersNeedQuantity" class="quantity">
        </div>
    </form>
    <br>
    <form class="row tools">
        <div class="col-xs-12 col-md-4">
            Autre outil super cool:
            <input type="text" name="others">
        </div>
        <div class="col-xs-12 col-md-2">
            Combien?
            <input type="text" name="othersQuantity"  class="quantity">
        </div>
    </form>

</template>