<template name="insertTaskForm">

    {{>CreateTaskComponent}}

</template>


<template name="createTaskComponent">

    <div class="panel panel-info">
        <div class="panel-heading">General information</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">

                    <div>
                        <label for="first_name" data-required>Task name</label>
                        <input placeholder="Task name" data-key="name" type="text" class="validate">
                    </div>

                    <div>
                        {{> SingleSelectComponent selectLabel="Team" title="Update team"
                        optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                        updateCollection="TempCollection" updateItemId=tempItemId updateItemPath="teamId"
                        nothingSelectedLabel="None yet" quickSelectLabel="assign to your team" quickSelectId=currentUserTeamId
                        }}
                    </div>


                    <div>
                        {{> SingleSelectComponent selectLabel="User responsible" title="Task responsible"
                        optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                        updateCollection="TempCollection" updateItemId=tempItemId updateItemPath="masterId"
                        nothingSelectedLabel="No one" quickSelectLabel="assign to yourself" quickSelectId=currentUserId
                        }}
                    </div>

                    <div>
                        <div>
                            {{> SingleSelectComponent selectLabel="Live event responsible" title="Live event responsible"
                            optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                            updateCollection="TempCollection" updateItemId=tempItemId updateItemPath="liveEventMasterId"
                            nothingSelectedLabel="No one" quickSelectLabel="assign to yourself" quickSelectId=currentUserId
                            }}
                        </div>
                    </div>

                    <div>
                        <div>
                            {{> SingleSelectComponent selectLabel="Rendez-vous point" title="Rendez-vous point"
                            optionCollection="Places" optionValueName="name" optionCollectionIndex="PlacesIndex"
                            updateCollection="TempCollection" updateItemId=tempItemId updateItemPath="placeId"
                            }}
                        </div>
                    </div>


                </div>
                <div class="col-md-9">
                    <div>
                        <label>Description</label>
                        <textarea name="description" rows="15" data-key="description" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            {{#if errors}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <div><strong>Some errors remains in the form</strong></div>
                            {{#each errors}}
                                <div>{{message}}</div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

    </div>

    <div class="col-md-2 col-md-offset-5">
        <button type="submit" class="btn btn-primary">Insert</button>
    </div>
</template>

<template name="updateTaskForm">

    {{>UpdateTaskComponent}}

    <!--{{>oldUpdateTask}}-->


</template>


<template name="oldUpdateTask">
    <div class="update-task-wrapper-form">


        {{# autoForm collection="Tasks" doc=this id="updateTaskForm" type="update"}}
            <fieldset>
                <legend>Update Task {{this.name}}</legend>
                <!--{{> afQuickField name='name'}}-->
                <!--{{> afQuickField name='description'}}-->
                <!--{{> afQuickField name="teamId"}}-->
                <!--{{> afQuickField name="placeId"}}-->
                <!--{{> afQuickField name="liveEventMasterId"}}-->
                <!--{{> afQuickField name="masterId"}}-->
                <!--<h4>Equipments</h4>-->
                <!--{{> afQuickField readonly=isEquipmentReadOnly name="equipmentStorageId"}}-->
                <!--{{> afQuickField readonly=isEquipmentReadOnly name="powerSupplyId"}}-->
                    <!--{{#each equipmentsCategories}}-->
                <!--<h4>{{name}}</h4>-->
                    <!--{{#each equipments this}}-->
                    <!--{{name}}-->
                    <!--{{> afQuickField readonly=isEquipmentReadOnly name=autoformNameForQuantity}}-->
                    <!--{{> afQuickField readonly=isEquipmentReadOnly name=autoformNameForEquipmentId}}-->
                        <!--{{/each}}-->
                    <!--{{/each}}-->

                TODO : isAssignmentReadOnly : {{isAssignmentReadOnly}}
                {{> afArrayField name="timeSlots"}}
            </fieldset>
            <!--<button type="submit" class="btn btn-primary">Update</button>-->
                <!--{{#if isInRole RolesEnum.TASKDELETE}}-->
            <!--{{#quickRemoveButton class="btn btn-default" collection="Tasks" _id=this._id}}Delete {{this.name}}{{/quickRemoveButton}}-->
                <!--{{/if}}-->
        {{/autoForm}}


        <div class="row">

            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">comment</i>Time slot validation comments</div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            {{#each timeSlotValidation.comments}}
                                <li class="collection-item">{{author}} update time slot validation from <b>{{displayValidationState stateBefore}}</b> to <b>{{displayValidationState stateAfter}}</b> on {{displayDateTime creationDate}} with "{{content}}"</li>
                            {{else}}
                                <li class="collection-item">There are not comments right now but with luck there will be yours soon.</li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
            </ul>
            {{#if displayTextArea 'ASSIGNMENTVALIDATION' timeSlotValidation.currentState}}
                <textarea id="time-slot-validation-new-comment" placeholder="You can type a new comment for time slot validation" class="new-comment-textarea materialize-textarea"></textarea>
            {{/if}}

            {{#if equals timeSlotValidation.currentState "OPEN"}}
                <a class="waves-effect waves-light btn-large" href="/task/validation/time-slot/{{this._id}}/to-be-validated"><i class="material-icons left">schedule</i>Time slots validation : ask for validation</a>
            {{/if}}
            {{#if isInRole RolesEnum.ASSIGNMENTVALIDATION}}
                {{#if equals timeSlotValidation.currentState "TOBEVALIDATED"}}
                    <a class="waves-effect waves-light btn-large" href="/task/validation/time-slot/{{this._id}}/refuse"><i class="material-icons left">schedule</i>Time slots validation : refuse</a>
                    <a class="waves-effect waves-light btn-large" href="/task/validation/time-slot/{{this._id}}/ready"><i class="material-icons left">schedule</i>Time slots validation : set ready to assignment</a>
                {{/if}}
            {{else}}
                {{#if equals timeSlotValidation.currentState "TOBEVALIDATED"}}
                    <div class="chip">In validation</div>
                {{/if}}
            {{/if}}
            {{#if equals timeSlotValidation.currentState "REFUSED"}}
                <a class="waves-effect waves-light btn-large" href="/task/validation/time-slot/{{this._id}}/to-be-validated"><i class="material-icons left">schedule</i>Time slots validation : ask for validation</a>
            {{/if}}
            {{#if isInRole RolesEnum.ASSIGNMENTVALIDATION}}
                {{#if equals timeSlotValidation.currentState "READY"}}
                    <a class="waves-effect waves-light btn-large" href="/task/validation/time-slot/{{this._id}}/refuse"><i class="material-icons left">schedule</i>Time slots validation : refuse</a>
                {{/if}}
            {{else}}
                {{#if equals timeSlotValidation.currentState "READY"}}
                    <div class="chip">Ready for assignment</div>
                {{/if}}
            {{/if}}
        </div>


        <div class="row">

            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">comment</i>Access pass validation comments</div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            {{#each accessPassValidation.comments}}
                                <li class="collection-item">{{author}} update access pass validation from <b>{{displayValidationState stateBefore}}</b> to <b>{{displayValidationState stateAfter}}</b> on {{displayDateTime creationDate}} with "{{content}}"</li>
                            {{else}}
                                <li class="collection-item">There are not comments right now but with luck there will be yours soon.</li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
            </ul>
            {{#if displayTextArea 'ACCESSPASSVALIDATION' accessPassValidation.currentState}}
                <textarea id="access-pass-validation-new-comment" placeholder="You can type a new comment for access pass validation" class="new-comment-textarea materialize-textarea"></textarea>
            {{/if}}

            {{#if equals accessPassValidation.currentState "OPEN"}}
                <a class="waves-effect waves-light btn-large" href="/task/validation/access-pass/{{this._id}}/to-be-validated"><i class="material-icons left">cloud</i>Access pass validation : ask for validation</a>
            {{/if}}
            {{#if isInRole RolesEnum.ACCESSPASSVALIDATION}}
                {{#if equals accessPassValidation.currentState "TOBEVALIDATED"}}
                    <a class="waves-effect waves-light btn-large" href="/task/validation/access-pass/{{this._id}}/refuse"><i class="material-icons left">cloud</i>Access pass validation : refuse</a>
                    <a class="waves-effect waves-light btn-large" href="/task/validation/access-pass/{{this._id}}/ready"><i class="material-icons left">cloud</i>Access pass validation : close</a>
                {{/if}}
            {{else}}
                {{#if equals accessPassValidation.currentState "TOBEVALIDATED"}}
                    <div class="chip">In validation</div>
                {{/if}}
            {{/if}}
            {{#if equals accessPassValidation.currentState "REFUSED"}}
                <a class="waves-effect waves-light btn-large" href="/task/validation/access-pass/{{this._id}}/to-be-validated"><i class="material-icons left">cloud</i>Access pass validation : ask for validation</a>
            {{/if}}
            {{#if isInRole RolesEnum.ACCESSPASSVALIDATION}}
                {{#if equals accessPassValidation.currentState "READY"}}
                    <a class="waves-effect waves-light btn-large" href="/task/validation/access-pass/{{this._id}}/refuse"><i class="material-icons left">cloud</i>Access pass validation : refuse</a>
                {{/if}}
            {{else}}
                {{#if equals accessPassValidation.currentState "READY"}}
                    <div class="chip">Closed</div>
                {{/if}}
            {{/if}}
        </div>


        <div class="row">

            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">comment</i>Equipment validation comments</div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            {{#each equipmentValidation.comments}}
                                <li class="collection-item">{{author}} update equipment validation from <b>{{displayValidationState stateBefore}}</b> to <b>{{displayValidationState stateAfter}}</b> on {{displayDateTime creationDate}} with "{{content}}"</li>
                            {{else}}
                                <li class="collection-item">There are not comments right now but with luck there will be yours soon.</li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
            </ul>
            {{#if displayTextArea 'EQUIPMENTVALIDATION' equipmentValidation.currentState}}
                <textarea id="equipment-validation-new-comment" placeholder="You can type a new comment for equipment validation" class="new-comment-textarea materialize-textarea"></textarea>
            {{/if}}

            {{#if equals equipmentValidation.currentState "OPEN"}}
                <a class="waves-effect waves-light btn-large" href="/task/validation/equipment/{{this._id}}/to-be-validated"><i class="material-icons left">settings</i>Equipments validation : ask for validation</a>
            {{/if}}
            {{#if isInRole RolesEnum.EQUIPMENTVALIDATION}}
                {{#if equals equipmentValidation.currentState "TOBEVALIDATED"}}
                    <a class="waves-effect waves-light btn-large" href="/task/validation/equipment/{{this._id}}/refuse"><i class="material-icons left">settings</i>Equipments validation : refuse</a>
                    <a class="waves-effect waves-light btn-large" href="/task/validation/equipment/{{this._id}}/ready"><i class="material-icons left">settings</i>Equipments validation : close</a>
                {{/if}}
            {{else}}
                {{#if equals equipmentValidation.currentState "TOBEVALIDATED"}}
                    <div class="chip">In validation</div>
                {{/if}}
            {{/if}}
            {{#if equals equipmentValidation.currentState "REFUSED"}}
                <a class="waves-effect waves-light btn-large" href="/task/validation/equipment/{{this._id}}/to-be-validated"><i class="material-icons left">settings</i>Equipments validation : ask for validation</a>
            {{/if}}
            {{#if isInRole RolesEnum.EQUIPMENTVALIDATION}}
                {{#if equals equipmentValidation.currentState "READY"}}
                    <a class="waves-effect waves-light btn-large" href="/task/validation/equipment/{{this._id}}/refuse"><i class="material-icons left">settings</i>Equipments validation : refuse</a>
                {{/if}}
            {{else}}
                {{#if equals equipmentValidation.currentState "READY"}}
                    <div class="chip">Closed</div>
                {{/if}}
            {{/if}}
        </div>

    </div>
</template>

<template name="updateTaskComponent">

    <div class="update-task-wrapper-form">

        {{# autoForm collection="Tasks" doc=this id="updateTaskForm" type="update" autosave=true}}

            <div class="row">
                <div class="col-md-10">
                    <h3 contenteditable="true" data-key="name" class="header-limited-to-text">{{this.name}}</h3>{{#if nameIsEditing}}<i class="material-icons medium" id="done-name">done</i>{{else}}<i class="material-icons medium" id="edit-name">mode_edit</i>{{/if}}
                    {{#if isInRole RolesEnum.TASKDELETE}}
                        {{#quickRemoveButton class="btn btn-default delete-task-button" collection="Tasks" _id=this._id onSuccess=onDeleteSuccess beforeRemove=beforeRemove onError=onDeleteError}}Delete {{this.name}}{{/quickRemoveButton}}
                    {{/if}}
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading">General information</div>

                <div class="panel-body">
                    <div class="col-md-3">
                        <div>
                            <label>Linked activity</label>

                            <div><a href="/activity/_id">Activity name</a></div>
                            <div>
                                <div>day1 : start to end</div>
                                <div>day1 : start to end and start2 to end2</div>
                            </div>
                        </div>

                        <div>
                            {{> SingleSelectComponent selectLabel="Team" title="Update team"
                            optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                            updateCollection="Tasks" updateItemId=this._id updateItemPath="teamId"
                            }}
                        </div>

                        <div>
                            {{> SingleSelectComponent selectLabel="User responsible" title="Task responsible"
                            optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                            updateCollection="Tasks" updateItemId=this._id updateItemPath="masterId"
                            }}
                        </div>

                        <div>
                            <div>
                                {{> SingleSelectComponent selectLabel="Live event responsible" title="Live event responsible"
                                optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                                updateCollection="Tasks" updateItemId=this._id updateItemPath="liveEventMasterId"
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <label>Description</label>
                            {{> afQuickField name='description' rows=15}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Equipments</div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                {{> SingleNonMandatorySelectComponent selectLabel="Equipment storage place" title="Equipment storage place"
                                optionCollection="EquipmentStorages" optionValueName="name" optionCollectionIndex="EquipmentStoragesIndex"
                                updateCollection="Tasks" updateItemId=this._id updateItemPath="equipmentStorageId"
                                }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                {{> SingleNonMandatorySelectComponent selectLabel="Power supply" title="Power supply"
                                optionCollection="PowerSupplies" optionValueName="name" optionCollectionIndex="PowerSuppliesIndex"
                                updateCollection="Tasks" updateItemId=this._id updateItemPath="powerSupplyId"
                                }}
                            </div>
                        </div>
                    </div>


                    <div class="equipment-wrapper">
                        {{#each equipmentsCategories}}
                            <div class="col-md-6">
                                <div class="row">
                                    <label>{{name}}</label>
                                </div>
                                <div class="row">
                                    {{#each equipments this}}
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                {{> afQuickField name=autoformNameForQuantity}}
                                                {{> afQuickField name=autoformNameForEquipmentId}}
                                            </div>
                                            <div class="col-md-8">
                                                {{name}}
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Time slots</div>

                <div class="panel-body timeslots">

                    <div class="col-md-4">
                        <div class="col-md-12 add-time-slot">
                            <div class="row">
                                <label>Update time slot</label> <i class="material-icons add-button">add</i><i class="material-icons done-button">done</i><i class="material-icons clear-button">clear_all</i><i class="material-icons delete-button">delete</i>
                            </div>
                            <div id="add-time-slot-form" class="row">
                                <div class="row">
                                    From * {{>DateTimePickerComponent class="date-time-picker-update-time-slot" date=currentTimeSlot.start updateDateCallback=updateTimeSlotStartDate}}
                                    to* {{>DateTimePickerComponent  class="date-time-picker-update-time-slot" date=currentTimeSlot.end updateDateCallback=updateTimeSlotEndDate}}
                                </div>
                                <div class="row error-holder">
                                    {{updatetimeSlotDatesError}}
                                </div>
                                <div class="row">
                                    <label>People needs</label>
                                    {{#each currentTimeSlot.peopleNeeded}}
                                        ===
                                        {{#if userId}}
                                            <div>user {{userId}}</div>{{/if}}
                                        {{#if teamId}}
                                            <div>team {{teamId}}</div>{{/if}}
                                        {{#if skills}}
                                            <div>skills {{#each skills}}{{this}}-{{/each}}</div>{{/if}}
                                        ===
                                    {{/each}}

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 add-people-need">
                            <div class="row">
                                <label>Add a people need {{tempPeopleNeedId}}</label> <i class="material-icons add-button">add</i><i class="material-icons done-button">done</i><i class="material-icons clear-button">clear_all</i>
                            </div>
                            <div id="add-people-need-form" class="row">
                                <div class="col-md-6">
                                    {{> SingleNonMandatorySelectComponent selectLabel="Need a specific team" title="Select a needed team"
                                    optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex" nothingSelectedLabel="No team"
                                    updateCollection="TempCollection" updateItemId=tempPeopleNeedId updateItemPath="teamId"
                                    nothingSelectedLabel="None yet" quickSelectLabel="assign to your team" quickSelectId=currentUserTeamId
                                    }}
                                </div>
                                <div class="col-md-6">
                                    {{> MultipleNonMandatorySelectComponent selectLabel="Need of set of skills" title="Select needed skills"
                                    optionCollection="Skills" optionValueName="label" optionCollectionIndex="SkillsIndex" nothingSelectedLabel="No skills"
                                    updateCollection="TempCollection" updateItemId=tempPeopleNeedId updateItemPath="skills"
                                    }}
                                </div>
                                <div class="col-md-6">
                                    {{> SingleNonMandatorySelectComponent title="Select a needed user" selectLabel="Need a specific user"
                                    optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                                    updateCollection="TempCollection" updateItemId=tempPeopleNeedId updateItemPath="userId"
                                    nothingSelectedLabel="No one" quickSelectLabel="assign to yourself" quickSelectId=currentUserId
                                    }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        {{/autoForm}}

    </div>

</template>


<template name="readTaskForm">

    {{# autoForm collection="Tasks" doc=this id="readTaskForm" type="readonly"}}
        <fieldset>
            <legend>Update Task {{this.name}}</legend>
            {{> afQuickField name='name'}}
            {{> afQuickField name='description'}}
            {{> afQuickField name="teamId"}}
            {{> afQuickField name="placeId"}}
            {{> afQuickField name="liveEventMasterId"}}
            {{> afQuickField name="masterId"}}
            {{> afQuickField name="timeSlots"}}
        </fieldset>
    {{/autoForm}}
</template>