<template name="updateTaskComponent">

    <div class="update-task-wrapper-form">

        {{# autoForm collection="Tasks" doc=this id="updateTaskForm" type="update" autosave=true}}

            <div class="row">
                <div class="col-md-10">
                    <h3 contenteditable="true" data-key="name" class="header-limited-to-text">{{this.name}}</h3>{{#if nameIsEditing}}<i class="material-icons medium" id="done-name">done</i>{{else}}<i class="material-icons medium" id="edit-name">mode_edit</i>{{/if}}
                    {{#if isInRole RolesEnum.TASKDELETE}}
                        {{#quickRemoveButton class="btn btn-default delete-task-button" collection="Tasks" _id=this._id onSuccess=onDeleteSuccess beforeRemove=beforeRemove onError=onDeleteError}}Delete {{this.name}}{{/quickRemoveButton}}
                    {{/if}}
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading">General information</div>

                <div class="panel-body">
                    <div class="col-md-3">
                        <div>
                            <label>Linked activity</label>

                            <div><a href="/activity/_id">Activity name</a></div>
                            <div>
                                <div>day1 : start to end</div>
                                <div>day1 : start to end and start2 to end2</div>
                            </div>
                        </div>

                        <div>
                            {{> SingleSelectComponent selectLabel="Team" title="Update team"
                            optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                            updateCollection="Tasks" updateItemId=this._id updateItemPath="teamId"
                            }}
                        </div>

                        <div>
                            {{> SingleSelectComponent selectLabel="User responsible" title="Task responsible"
                            optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                            updateCollection="Tasks" updateItemId=this._id updateItemPath="masterId"
                            }}
                        </div>

                        <div>
                            <div>
                                {{> SingleSelectComponent selectLabel="Live event responsible" title="Live event responsible"
                                optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                                updateCollection="Tasks" updateItemId=this._id updateItemPath="liveEventMasterId"
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <label>Description</label>
                            {{> afQuickField name='description' rows=15}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Equipments</div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                {{> SingleNonMandatorySelectComponent selectLabel="Equipment storage place" title="Equipment storage place"
                                optionCollection="EquipmentStorages" optionValueName="name" optionCollectionIndex="EquipmentStoragesIndex"
                                updateCollection="Tasks" updateItemId=this._id updateItemPath="equipmentStorageId"
                                }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                {{> SingleNonMandatorySelectComponent selectLabel="Power supply" title="Power supply"
                                optionCollection="PowerSupplies" optionValueName="name" optionCollectionIndex="PowerSuppliesIndex"
                                updateCollection="Tasks" updateItemId=this._id updateItemPath="powerSupplyId"
                                }}
                            </div>
                        </div>
                    </div>


                    <div class="equipment-wrapper">
                        {{#each equipmentsCategories}}
                            <div class="col-md-6">
                                <div class="row">
                                    <label>{{name}}</label>
                                </div>
                                <div class="row">
                                    {{#each equipments this}}
                                        <div class="col-md-6">
                                            <div class="col-md-4">
                                                {{> afQuickField name=autoformNameForQuantity}}
                                                {{> afQuickField name=autoformNameForEquipmentId}}
                                            </div>
                                            <div class="col-md-8">
                                                {{name}}
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Time slots</div>

                <div class="panel-body timeslots">

                    <div class="row">
                        {{>AssignmentTermSelectComponent}}
                    </div>

                    <div class="col-md-8">
                        {{> EditTimeSlotCalendarComponent data=this parentInstance=self timeSlotTemplate="updateTimeSlotCalendar"}}
                    </div>

                    <div class="col-md-4">
                        <div class="col-md-12 add-time-slot">
                            <div class="row">
                                <label>Update time slot</label> <i class="material-icons add-button">add</i><i class="material-icons done-button">done</i><i class="material-icons clear-button">clear_all</i><i class="material-icons delete-button">delete</i>
                            </div>
                            {{#if updatedTimeSlotId.get}}
                                <div id="add-time-slot-form" class="row">
                                    <div class="row">
                                        From * {{>DateTimePickerComponent class="date-time-picker-update-time-slot" date=currentTimeSlot.start updateDateCallback=updateTimeSlotStartDate}}
                                        to* {{>DateTimePickerComponent  class="date-time-picker-update-time-slot" date=currentTimeSlot.end updateDateCallback=updateTimeSlotEndDate}}
                                    </div>
                                    <div class="row error-holder">
                                        {{updatetimeSlotDatesError}}
                                    </div>
                                    <div class="row people-need">
                                        <label>People needs</label>

                                        <div class="row">
                                            {{#each currentTimeSlotPeopleNeededMerged}}

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <span>{{count}}</span>
                                                        <span class="glyphicon glyphicon-trash delete" data-peopleneededid="{{this._id}}" aria-hidden="true"></span>
                                                        <span class="glyphicon glyphicon-file duplicate" data-peopleneededid="{{this._id}}" aria-hidden="true"></span>
                                                    </div>
                                                    <div class="col-md-9">
                                                        {{#if userId}}
                                                            {{> SingleNonMandatorySelectComponent withoutLabel=true title="Specific user need"
                                                            optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                                                            updateCollection="Tasks" updateItemId=../_id
                                                            updateItemPath="userId"
                                                            pathWithArray=pathWithArrayPeopleNeeded
                                                            updateCallback=updatePeopleNeedCallback}}
                                                        {{/if}}
                                                        {{#if teamId}}
                                                            {{> SingleNonMandatoryBulkSelectComponent withoutLabel=true title="Specific a team need"
                                                            optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                                                            updateCollection="Tasks" updateItemId=../_id
                                                            updateItemPath="teamId"
                                                            bulkPeopleNeededIds=bulkPeopleNeededIds
                                                            updateCallback=updatePeopleNeedCallback}}
                                                        {{/if}}
                                                        {{#if skills}}
                                                            {{> MultipleNonMandatoryBulkSelectComponent withoutLabel=true title="Specific some needed skills"
                                                            optionCollection="Skills" optionValueName="label" optionCollectionIndex="SkillsIndex"
                                                            updateCollection="Tasks" updateItemId=../_id
                                                            updateItemPath="skills"
                                                            bulkPeopleNeededIds=bulkPeopleNeededIds
                                                            updateCallback=updatePeopleNeedCallback}}
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                        <div class="row error-holder">
                                            {{updatePeopleNeededError}}
                                        </div>
                                    </div>
                                </div>
                            {{else}}
                                <span>Start by selecting a time slot on the right panel</span>
                            {{/if}}
                        </div>

                        {{#if updatedTimeSlotId.get}}
                            <div class="col-md-12 add-people-need">
                                <div class="row">
                                    <label>Add a people need</label>{{#if displayAddPeopleNeedForm}}<i class="material-icons done-button">done</i><i class="material-icons clear-button">clear_all</i>{{else}}<i class="material-icons add-button">add</i>{{/if}}
                                </div>
                                {{#if displayAddPeopleNeedForm}}
                                    <div id="add-people-need-form" class="row">
                                        <div class="col-md-6">
                                            {{> SingleNonMandatorySelectComponent selectLabel="Need a specific team" title="Select a needed team"
                                            optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex" nothingSelectedLabel="No team"
                                            updateCollection="TempCollection" updateItemId=tempPeopleNeedId updateItemPath="teamId"
                                            nothingSelectedLabel="None yet" quickSelectLabel="assign to your team" quickSelectId=currentUserTeamId
                                            }}
                                        </div>
                                        <div class="col-md-6">
                                            {{> MultipleNonMandatorySelectComponent selectLabel="Need of set of skills" title="Select needed skills"
                                            optionCollection="Skills" optionValueName="label" optionCollectionIndex="SkillsIndex" nothingSelectedLabel="No skills"
                                            updateCollection="TempCollection" updateItemId=tempPeopleNeedId updateItemPath="skills"
                                            }}
                                        </div>
                                        <div class="col-md-6">
                                            {{> SingleNonMandatorySelectComponent title="Select a needed user" selectLabel="Need a specific user"
                                            optionCollection="Users" optionValueName="name" optionCollectionIndex="UsersIndex"
                                            updateCollection="TempCollection" updateItemId=tempPeopleNeedId updateItemPath="userId"
                                            nothingSelectedLabel="No one" quickSelectLabel="assign to yourself" quickSelectId=currentUserId
                                            }}
                                        </div>
                                    </div>
                                    <div class="row error-holder">
                                        {{createPeopleNeededError}}
                                    </div>
                                {{/if}}

                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>

        {{/autoForm}}

    </div>

</template>


<template name="updateTimeSlotCalendar">
    <div class="creneau {{state}}" data-timeslotdid="{{this._id}}" style="height: {{height}};">

        {{getPeopleNeededMerged}}

        <div class="wrapper on-calendar">

            {{#each getPeopleNeededMerged _id}}
                <!--<div class="peopleNeed" style="height: {{../height}};">-->
                <!--<div class="">-->

                <div class="col-md-1 people-need">
                    {{#unless userId}}{{count}}{{/unless}}
                    {{#if userId }}
                        <div class="user">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>{{/if}}
                    {{#if teamId}}
                        <div class="team">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </div>{{/if}}
                        <!--{{#ifNotEmpty skills}}-->
                    <div>
                        {{#each skills}}
                            <div class="skill">
                                <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                            </div>
                        {{/each}}
                    </div>
                        <!--{{/ifNotEmpty}}-->
                </div>
                <!--</div>-->
            {{/each}}

        </div>
    </div>
</template>

