<template name="exportUserAssignment">
    {{> ExportUserAssignmentComponent}}
</template>

<template name="exportUserAssignmentComponent">
    <h2 class="pull-right">
        {{profile.firstName}}
        {{profile.familyName}}
        <br>
    </h2>
    <h1>Tasks planning</h1>
    <br>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Tasks that you are in charge of</h3>
        </div>

        {{#each groupedTasksResponsible}}
            <div class="panel panel-default planning-group-wrapper">
                <div class="panel-heading">
                    <h5>
                        {{#unless equals groupId "null"}}
                            {{groupName groupId}}
                        {{else}}
                            Ungrouped Tasks
                        {{/unless}}
                    </h5>
                </div>
                <div class="panel-body container-fluid">
                    {{#each tasksGrouped}}
                        <h5 class="pull-right">
                            <i class="mdi mdi-map-marker"></i>{{place placeId}}
                        </h5>
                        <h5>
                            {{name}}
                        </h5>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="col-sm-4" rowspan="{{timeSlots.length}}" style="vertical-align:top">
                                        <h6>Description</h6>
                                        <p class="pre small">
                                            {{description}}
                                        </p>
                                    </td>
                                    {{#unless equals timeSlots.length 0}}
                                        {{#each timeSlots}}
                                            {{#if equals @index 0}}
                                                <td class="col-sm-8">
                                                    {{displayDateTime start}} - {{displayHoursMinute end}}

                                                    <div class="col-md-12 col-xs-12">
                                                        <ul class="small col-md-6 col-lg-4">
                                                            <li>
                                                                <strong>{{displayUserInfo ../liveEventMasterId}}</strong>
                                                            </li>
                                                            {{#each taskAssignments}}
                                                                {{#unless equals userId null}}
                                                                    {{#unless equals userId ../liveEventMasterId}}
                                                                        <li>

                                                                            {{displayUserInfo userId}}

                                                                        </li>
                                                                    {{/unless}}
                                                                {{/unless}}
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </td>
                                            {{/if}}
                                        {{/each}}
                                    {{else}}
                                        <td class="col-sm-8">
                                            There is no timeSlot for this task.
                                        </td>
                                    {{/unless}}
                                </tr>

                                {{#each timeSlots}}
                                    {{#unless equals @index 0}}
                                        <tr>
                                            <td class="col-sm-8">
                                                {{displayDateTime start}} - {{displayHoursMinute end}}

                                                <div class="col-md-12 col-xs-12">
                                                    <ul class="small col-md-6 col-lg-4">
                                                        <li>
                                                            <strong>{{displayUserInfo ../liveEventMasterId}}</strong>
                                                        </li>
                                                        {{#each taskAssignments}}
                                                            {{#unless equals userId null}}
                                                                {{#unless equals userId ../liveEventMasterId}}
                                                                    <li>

                                                                        {{displayUserInfo userId}}

                                                                    </li>
                                                                {{/unless}}
                                                            {{/unless}}
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {{/unless}}
                                {{/each}}

                            </tbody>
                        </table>
                    {{/each}}
                </div>
            </div>
        {{/each}}

    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Your tasks</h3>
        </div>


        {{#each sortedAssignments}}
            <div class="panel panel-default planning-task-wrapper">
                <div class="row inline-headers">
                    <div class="col-sm-6">
                        <h4>{{task.name}}</h4>
                        {{displayDateTime timeSlot.start}} - {{displayHoursMinute timeSlot.end}}
                        <br>
                        <h5>Description</h5>
                        <p class="pre small">{{task.description}}</p>
                        <br>


                        <h5>Team</h5>
                        <ul class="small">
                            <li>
                                <strong>{{displayUserInfo task.liveEventMasterId}} - LiveEventResponsible</strong>
                            </li>
                            {{#with resp=task.liveEventMasterId ppl=timeSlot.peopleNeeded}}
                                {{#each ppl}}
                                    {{#unless equals this.assignedUserId null}}
                                        {{#unless equals this.assignedUserId ../resp}}
                                            <li>

                                                {{displayUserInfo this.assignedUserId}}

                                            </li>
                                        {{/unless}}
                                    {{/unless}}
                                {{/each}}
                            {{/with}}
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        MAP <br>
                        <h5>
                            <i class="mdi mdi-map-marker"></i>{{place task.placeId}}
                        </h5>
                        <br>
                        <div class="row small">
                            {{#each task.equipments}}
                                {{#unless equals this.quantity 0}}
                                    <div class="col-sm-6">
                                        <i class="mdi mdi-wrench mdi-small"></i>  {{displayEquipment this}}
                                        <br>
                                    </div>
                                {{/unless}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

        {{/each}}


    </div>
</template>