<template name="updateUserForm">
    {{>UpdateUserComponent}}
</template>

<template name="updateUserComponent">

    <div class="update-user-wrapper-form">

        {{reactiveConstructor}}

        {{# autoForm collection="Users" doc=this id="updateUserForm" type="update" autosave=true}}

            <div class="row">
                <div class="col-md-12">
                    {{>EditNameComponent collection="Users" name=name _id=_id}}
                    {{#if isInRole RolesEnum.USERDELETE}}
                        {{#quickRemoveButton class="btn btn-default delete-task-button" collection="Users" _id=this._id onSuccess=onDeleteSuccess beforeRemove=beforeRemove onError=onDeleteError}}Delete {{this.name}}{{/quickRemoveButton}}
                    {{/if}}
                </div>
            </div>

            {{#if isReadyForAssignment}}
                    <div class="alert alert-info" role="alert">You have been validated, you will be assigned to tasks according to your availabilities and your skills.</div>
            {{else}}
                <div class="alert alert-warning" role="alert">You are not validated yet. You can not be assigned until you are validated.</div>
            {{/if}}


            <div class="panel panel-info">
                <div class="panel-heading">General information</div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">

                            <div>
                                {{> afQuickField name='firstName'}}
                            </div>
                            <div>
                                {{> afQuickField name='familyName'}}
                            </div>
                            <div>
                                {{> afQuickField name='phoneNumber'}}
                            </div>
                            <div>
                                <label>User Birth date</label>
                                {{>DateTimePickerComponent date=birthDate updateDateCallback=updateBirthDate}}
                            </div>

                            <div>
                                {{> MultipleNonMandatorySelectComponent selectLabel="Team" title="Update teams"
                                optionCollection="Teams" optionValueName="name" optionCollectionIndex="TeamsIndex"
                                updateCollection="Users" updateItemId=this._id updateItemPath="teams"
                                nothingSelectedLabel="None yet"
                                }}
                            </div>

                        </div>

                    </div>

                    {{#if errors}}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger">
                                    <div><strong>Some errors remains in the form</strong></div>
                                    {{#each errors}}
                                        <div>{{message}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Skills</div>

                <div class="panel-body">
                     {{#if isReadyForAssignment}}
                        <div class="alert alert-warning" role="alert">You have been validated, you cannot edit your skills</div>
                    {{else}}
                        <label>Select one or more skills</label>
                    {{/if}}
                    <div class="row">
                        {{#each allSkills}}
                            <div class="col-md-3">
                                <input type="checkbox" class="update-skill" {{isChecked _id}} disabled="{{../isReadyForAssignment}}" >
                                {{label}}
                            </div>
                        {{/each}}
                    </div>
                </div>

            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Availabilities</div>

                <div class="panel-body">
                    {{>UserAvailabilitiesComponent readOnly=isReadyForAssignment parentInstance=self}}
                </div>

            </div>

        {{/autoForm}}


        <div class="panel panel-info">
            <div class="panel-heading">User validation</div>
            <div class="panel-body">
                <div class="row">

                    {{#if this.isReadyForAssignment}}
                        <div class="alert alert-info" role="alert">User has been validated, it can't be undone as the user is now ready for assignment</div>
                    {{else}}
                        <div class="alert alert-warning" role="alert">Once validated, user will be ready for assignment and will not be able to update its skills and availabilities. <strong>It can't be undode</strong></div>
                        <button id="make-user-ready" type="button" class="col-md-offset-4 col-md-4 btn btn-success">Make user ready for assignment</button>
                    {{/if}}
                </div>
            </div>

        </div>

    </div>

</template>
