<template name="userAvailabilities">

    {{reactiveConstructor}}

    <div class="col-md-12">
        {{> DismissibleHelperComponent message="The more availabilties you add, the more charisma you get. You can see your friend's charisma and try to beat them ! (hint : some time slots are more valuable, it's well rewarded to work during the night...)" uniqueId="charisma-tot"}}
        <label>Your charisma</label> {{totalCharisma}} / {{availableCharisma}}
    </div>


    <div class="col-md-12">
        {{> DismissibleHelperComponent message="Depending on your team, you can access different period to add availabilties, check them all !" uniqueId="term-select"}}
        {{>AssignmentTermButtonsComponent callbackIfNothingToDisplay=callbackIfNoTerms teams=userData.teams}}
    </div>

    {{#if displayCalendar}}

        <div class="col-md-12">
            {{#if readOnly}}
                {{#if assignmentTermDeadlineIsOver}}
                    <div class="alert alert-warning" role="alert">This assignment term is closed, you cannot add nor removeavailabilities</div>
                {{/if}}
                {{> ReadAvailabilitiesCalendarComponent displayCharisma=true user=userData parentInstance=self timeSlotTemplate="updateAvailabilitiesCalendar"}}
            {{else}}
                {{#if assignmentTermDeadlineIsOver}}
                    <div class="alert alert-warning" role="alert">This assignment term is closed, you can add availabilities, be careful when you remove availabilities.</div>
                {{/if}}
                {{> DismissibleHelperComponent message="Want to add an availability ? Simply click on a time slot !      Protip : you can several by pressing 'maj' key along with a first click and then drag to select more." uniqueId="availabily-update"}}
                {{> DismissibleHelperComponent message="Click on an availability to remove one slot." uniqueId="availabily-delete"}}
                {{> EditAvailabilitiesCalendarComponent displayCharisma=true user=userData parentInstance=self timeSlotTemplate="updateAvailabilitiesCalendar"}}
            {{/if}}
        </div>

    {{else}}
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">You do not have any periods to add availabilities yet.</div>
        </div>
    {{/if}}

</template>

<template name="updateAvailabilitiesCalendar">
    <!--TODO #378 I guess it doesn't need to support margin-top-->
    <div class="creneau non-clickable {{#if assigned}}affecte{{/if}}" style="height: {{height}}px;">

        <div class="calendar-wrapper on-calendar">
            <div class="calendar-charisma noselect" title="{{charisma}} pts of charisma">{{charisma}}</div>
        </div>
    </div>
</template>
