<template name="userAvailabilities">

    {{reactiveConstructor}}

    <div class="col-md-12">
        {{>AssignmentTermSelectComponent}}
    </div>

    <div class="col-md-8">
        {{> EditAvailabilitiesCalendarComponent user=userData parentInstance=self timeSlotTemplate="updateAvailabilitiesCalendar"}}
    </div>

</template>

<template name="updateAvailabilitiesCalendar">
    <div class="creneau" style="height: {{height}};">

        <div class="wrapper on-calendar">




        </div>
    </div>
</template>
