<template name="userAvailabilities">

    {{reactiveConstructor}}

    <div class="col-md-12">
        {{>AssignmentTermSelectComponent callbackIfNothingToDisplay=callbackIfNoTerms teams=userData.teams}}
    </div>

    {{#if displayCalendar}}

        <div class="col-md-12">
            {{#if readOnly}}
                {{#if isCurrentUserTheOneLogged userData._id}}
                    <div class="alert alert-warning" role="alert">You have been validated, you cannot edit your availabilities</div>
                    {{#if assignmentTermDeadlineIsOver}}
                        <div class="alert alert-warning" role="alert">This assignment term is closed, you cannot add availabilities</div>
                    {{/if}}
                {{/if}}
                {{> ReadAvailabilitiesCalendarComponent displayCharisma=true user=userData parentInstance=self timeSlotTemplate="updateAvailabilitiesCalendar"}}
            {{else}}
                {{> EditAvailabilitiesCalendarComponent displayCharisma=true user=userData parentInstance=self timeSlotTemplate="updateAvailabilitiesCalendar"}}
            {{/if}}
        </div>

    {{else}}
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">You do not have any periods to add availabilities yet.</div>
        </div>
    {{/if}}

</template>

<template name="updateAvailabilitiesCalendar">
    <div class="creneau non-clickable {{#if assigned}}affecte{{/if}}" style="height: {{height}};">

        <div class="wrapper on-calendar">
            {{charisma}}
        </div>
    </div>
</template>
